.__cart_blueprint__.__cart__ {
  .__striked_content__ {
    margin-bottom: $md-a-spacing;
  }

  .cardview {
    padding: $cardview-padding;
    margin-bottom: $md-a-spacing;
  }

  .title-container {
    font-family: "HappyBirthdayBabyMedium";
    font-size: $lg-a-font-size;
    margin-bottom: $sm-c-spacing;
  }

  button.finalize-purchase {
    width: 100%;
    text-decoration: none;
  }

  .clear-cart-container {
    text-align: right;
  }
}