$to-activate-disable-button-min-width: 120px;

.__admin_base__ {
  height: 100%;

  .right-indent {
    margin-left: 26px;
  }

  .modal .page-header {
    margin-top: 0;
    h4 {
      margin-bottom: 0;
    }
  }

  .modal.details {
    #total-table {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .table-responsive {
      margin-bottom: 0 !important;
    }
  }

  .products-total-table {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .panel {
    .page-header {
      margin-top: 25px;
    }
  }

  .panel {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 992px) {
    .modal-dialog.large {
      width: 900px;
    }

    .panel.large {
      width: 800px;
    }
  }

  @media screen and (min-width: 480px) {
    .panel.med {
      width: 400px;
    }
  }

  @media screen and (max-width: 480px) {
    .panel {
      width: 90%;
    }
  }

  @media screen and (max-width: 767px) {
    .products-total-table {
      border: 1px solid #ddd !important;
    }
  }
}