.__client_products__.__product_2__{
  .photo-catalog-price-buy-box-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
  }

  .photo-catalog {
    display: block;
    margin-bottom: 8px;

    img {
      margin-top: 8px;
      width: 100%;
      border-radius: 4px;
      cursor: pointer;
      max-width: 144px;
      min-width: 60px;
      transition: all .2s ease-in-out;
      box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.15);
      margin-left: 12px;
    }

    img:hover {
      overflow: visible;
      transform: scale(1.02);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.75);
    }
  }

  .main-photo {
    max-width: 900px;
    margin: 8px;

    img {
      width: 100%;
      border-radius: 4px;
      min-width: 280px;
      box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.15);
    }
  }

  .price-buy-box-col {
    flex: 1;
    min-width: 280px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .price-buy-box {
    height: 100%;
    margin: 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, 0.15);
    margin-right: 8px;
    margin-bottom: 12px;
    font-family: "OpenSans";
    padding: 8px;
    padding-top: 36px;
    max-width: 300px;

    hr {
      max-width: 240px;
      height: 1px;
      background-color: black;
    }

    .old-price p {
      margin-bottom: 12px;
    }

    .price-line {
      margin-bottom: 40px;
    }

    .buy-button {
      margin-top: 18px;
      margin-bottom: 12px;
      font-family: "HappyBirthdayBaby";
      border-radius: 6px;
      width: 180px;
      font-size: 36px;
      height: 40px;
      background-color: #FFD700;
      border: none;
      color: black;
    }

    .safe-buy-container {
      margin-bottom: 36px;
    }

    //.buy-button:hover {
    //  -webkit-transition: none;
    //  -o-transition: none;
    //  transition: all .2s ease-in-out;;
    //  color: white;
    //  border: none;
    //  background-color: #333;
    //}

    button.items-count {
      padding: 6px 8px;
      margin-top: 20px;
      color: black;
    }

    input.qty {
      width: 64px;
      height: 64px;
      font-size: 28px;
      font-family: "OpenSans";
      color: black;
    }
  }

  .pull-left {
    float: none !important;
  }

  .padlock {
    width: 28px;
    margin-left: 4px;
  }

  .price {
    font-size: 42px;
    font-weight: bold;
    color: black;
  }

  #product-detail-tab li {
    margin-bottom: 8px;
  }

  .tab-content {
    padding-top: 8px;
  }

  .what-do-we-have-more-for-you-title-container {
    text-align: center;
  }

  .container.breadcrumbs.title {
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    color: black;
    font-family: "OpenSans";
    font-size: 18px;

    .page-title h2 {
      font-family: "OpenSans";
      font-weight: bold;
      font-size: 48px;
    }

    a:hover {
      text-decoration: underline;
    }

    a, span, ul, li {
      color: black;
      font-family: "OpenSans";
      font-size: 14px;
    }
  }

  .description-and-additional-info-box {
    font-family: "OpenSans";
    font-size: 13px;
    color: black;

    h1 {
      font-size: 48px;
      font-family: "HappyBirthdayBaby";
      color: black;
    }
  }

  .product-tabs li a {
    font-family: "OpenSans";
  }

  .more-products {
    h1 {
      font-family: "HappyBirthdayBaby";
      font-size: 48px;
      color: black;
    }
  }

  @media screen and (max-width: 1199px) {
    .price-buy-box {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media screen and (min-width: 768px) {
    .mobile-tab-content {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .tab-content.no-mobile {
      display: none;
    }

    #product-detail-tab li {
      //margin-top: 8px;
    }
  }

  @media screen and (max-width: 991px) {
    .photo-catalog {
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        float: left;
        width: 64px;
        height: 64px;
      }
      img:not(:first-child){
        margin-left: 8px;
      }
    }
  }
}
