.__components__.__blog_post_preview_wide__ {
  .blog-post-container {
    transition: all .2s ease-in-out;
    border-radius: $default-border-radius;
    margin-bottom: 18px;
  }

  .blog-post-container:hover {
    overflow: visible;
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.75);
  }

  .blog-post-image {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      border-radius: $default-border-radius;
    }

    .title-container {
      position: absolute;
      width: 45%;
      bottom: 0;
      height: 80px;
      background-color: $blog-text-background-color;
      padding: 8px 16px;
      border-bottom-left-radius: $default-border-radius;
      overflow: hidden;

      span {
        font-size: 22px;
        color: white;
      }
    }
  }
}
