.__components__.__blog_header__ {
  padding-top: 16px;
  padding-bottom: 16px;

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      order: 0;
      margin-right: 16px;
      margin-bottom: 16px;
    }

    .links-container {
      order: 1;
      margin-left: auto;
      min-width: 225px;
      margin-bottom: 16px;

      a {
        margin-right: 18px;
        color: $proj-gray;
      }
    }

    .__search_bar__ {
      order: 2;
      margin-bottom: 16px;
    }
  }
}