.__components__.__client_footer_2__ {
  .read-more-container {
    text-align: right;
  }

  .payments-methods-container {
    display: flex;

    img {
      height: 48px;
      margin-right: 8px;
    }
  }

  .lower-text {
    text-align: center;
  }
}
