.__components__.__client_header_2__ {
  .basket {
    height: 55px;
  }

  .fl-cart-contain > .mini-cart:hover > .basket a {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .mini-cart .fl-mini-cart-content {
    margin-top: -55px;
    transition: none;
    border-radius: 8px;
  }

  .input-group-btn {
    width: 36px;
  }

  #custom-search-input {
    border: solid 1px black;
    background-color: #fff;
  }

  #custom-search-input input {
    border: 0;
    box-shadow: none;
    padding-left: 8px;
    font-family: "OpenSans";
    font-size: 18px;
  }

  #custom-search-input button {
    //margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    border-right: solid 2px black;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;

    img {
      height: 36px;
    }
  }

  #custom-search-input .glyphicon-search {
    font-size: 23px;
  }

  img.logo {
    vertical-align: middle;
  }

  .vertical-centered {
    vertical-align: middle;
  }

  .account-col{
    margin-top: 8px;
    font-family: "OpenSans";
    font-size: 18px;

    .text-container {
      text-align: right;
      //float: right;
    }

    img {
      float: right;
      height: 42px;
      vertical-align: middle;
      margin-left: 8px;
    }
  }

  .notify-badge{
      position: absolute;
      right:0;
      top:-10px;
      background:red;
      text-align: center;
      border-radius: 12px;
      color:white;
      padding:5px 10px;
      font-size:16px;
  }

  .row.separator {
    height: 1px;
    background-color: black;
    padding: 0;
  }

  .header-main {
    height: auto;
  }

  #nav > li > a {
    line-height: 48px;
  }

  .row.first {
    margin-top: 12px;
  }

  #nav .level0-wrapper, #nav.classic ul.level0 {
    top: auto;
  }

  form.search {
    margin-top: 0;
  }

  .my-account-container {
    margin-top: 4px;
  }

  .enter-register-container {
    margin-top: 12px;
    margin-right: 6px;
  }

  .row.first {
    .col-sm-12 {
      margin-bottom: 8px;
    }
  }

  img.logo {
    padding-bottom: 0;
    display: block !important;
  }

  .mega-menu {
    span.menu-item {
      font-family: "OpenSans";
      font-size: 20px;
    }

    span.children1 {
      font-family: "OpenSans";
      font-size: 20px;
    }

    span.children2 {
      font-family: "OpenSans";
      font-size: 18px;
      font-weight:normal;
    }
  }

  #nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px){
    .account-col {
      margin-top: 18px;
    }

    .enter-register-container {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}