.__components__.__client_header__ {
  .basket {
    height: 55px;
  }

  .fl-cart-contain > .mini-cart:hover > .basket a {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .mini-cart .fl-mini-cart-content {
    margin-top: -55px;
    transition: none;
    border-radius: 8px;
  }
}