.__components__.__client_footer__ {
  footer.fixed-at-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  a.col-title {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-column {
    margin-bottom: 0;
    min-height: 0;
  }
}
