.__components__.__footer__ {
  .row.main {
    color: white;
    padding-top: 40px;
    padding-bottom: 36px;
  }

  .title.about-us {
    margin-top: 0;
  }

  .title.utilities {
    margin-top: 36px;
  }

  .title.payment-methods {
    margin-top: 36px;
  }

  .fb-page {
    margin-top: 24px;
  }

  a {
    color: white;
  }

  .read-more-container {
    text-align: right;
  }

  .payments-methods-container {
    display: flex;

    img {
      height: 32px;
      margin-right: 20px;
    }
  }

  .lower-text {
    text-align: center;
  }

  form.newsletter-sign {
    table {
      width: 100%;

      td.email-input {
        width: 100%;
        padding-right: 8px;
      }
    }
  }

  .row.newsletter-part {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    flex-wrap: wrap;
    align-items: center;

    h2 {
      margin-bottom: 2px;
    }

    .messages {
      min-width: 250px;

      h2 {
        margin-top: 0;
      }
    }

    .newsletter-sign {
      min-width: 250px;
      max-width: 400px;
      margin-left: auto;

      td {
        vertical-align: top;
      }

      input[type=submit] {
        margin-bottom: 0;
      }

      .form-group {
        margin-bottom: 16px;
      }

      .help-block.error {
        color: white;
      }

      .has-error .form-control {
        border-color: white;
      }
    }
  }

.content {
  margin-bottom: 8px;
}

.content.address {
  display: flex;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.newsletter-part-full-container {
  width: 100%;
  background-color: $dark-green;
}

.main-part-container {
  width: 100%;
  background-color: $green;
}

.lower-text-container {
  width: 100%;
  background-color: #DADB20;
}

.newsletter-part {
  color: white;

  .stay-in {
    font-family: "HappyBirthdayBaby";
    font-size: 24px;
    line-height: 20px;
  }

  .auxiliar-message {
    font-family: "OpenSans";
    font-size: 14px;
  }

  input[type=text] {
    font-family: "OpenSans";
    font-size: 14px;
    border-radius: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  input[type=submit] {
    font-family: "HappyBirthdayBaby";
    font-size: 24px;
    line-height: 42px;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    border: none;
    background-color: $dark-yellow;
  }

  input[type=submit]:hover {
    -webkit-transition: none;
    -o-transition: none;
    transition: all .2s ease-in-out;;
    color: white;
    border: none;
    background-color: #333;
  }
}

.title {
  font-family: "HappyBirthdayBaby";
  font-size: 28px;
  line-height: 18px;
}

.content, .content p, .content a {
  font-family: "OpenSans";
  font-size: 14px;
}

.mini-content p, .mini-content a {
  font-family: "OpenSans";
  font-size: 12px;
}

a.content:hover {
  text-decoration: underline;
}

.lower-text {
  padding-top: 12px;
  padding-bottom: 12px;
  color: black;

  p {
    margin: 0;
  }
}

.payments-methods-container {
  display: flex;
  flex-wrap: wrap;

  img {
    margin-bottom: 12px;
  }
}

.social-icon {
  margin-top: 12px;
  margin-right: 6px;
  margin-bottom: 12px;
}

.contact-container {
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  margin-bottom: 24px;
}

@media screen and (max-width: 599px) {
  .row.newsletter-part {

    .col-xs-6 {
      & .newsletter-sign {
        margin-top: 0;
      }
    }
  }
}

}