.__components__.__item_inner__ {
  .item-inner {
    border-radius: $product-container-border-radius !important;
  }

  .text-container {
    white-space: pre-wrap;
  }

  .grow {
    transition: all .2s ease-in-out;
  }

  .grow:hover {
    overflow: visible;
    transform: scale(1.04);
    box-shadow: 0 8px 20px black;
  }

  .item-img-info a {
    border-top-left-radius: $product-container-border-radius;
    border-top-right-radius: $product-container-border-radius;
  }

  .item-price {
    border-radius: $item-price-border-radius;

    span.price {
      color: #333;
    }
  }

  button.btn-cart {
    border-radius: 20px;
  }
}