$bottom-color: rgba(255,255,255,10);
$top-color: rgba(255,255,255,10);

.__components__.__item_inner_2__ {
  .item-inner {
    border-radius: $product-container-border-radius !important;
  }

  .text-container {
    white-space: pre-wrap;
  }

  .grow {
    transition: all .2s ease-in-out;
  }

  .grow:hover {
    overflow: visible;
    transform: scale(1.04);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.75);
  }

  .item-img-info a {
    border-top-left-radius: $product-container-border-radius;
    border-top-right-radius: $product-container-border-radius;
  }

  .item-price {
    text-align: center;
    .big-price {
      font-size: 24px;
    }
  }

  button {
    border-bottom-left-radius: $product-container-border-radius;
    border-bottom-right-radius: $product-container-border-radius;
    margin-top: 6px;
  }

  .unavailable {
    opacity: 0.6;

    button.btn-cart {
      visibility: hidden;
    }
  }

  form.add-to-cart p {
    margin-top: 10px;
  }

  .img-container:hover span {
    opacity: 0.4;
  }

  .img-container {
    position: relative;
    width: 100%;

    span {
      font-family: "HappyBirthdayBaby";
      font-weight: bold;
      color: black;
      position: absolute;
      bottom: 45%;
      left: 0;
      font-size: 100px;
      width: 100%;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    }

    .gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: white; /* For browsers that do not support gradients */
      //background: -webkit-radial-gradient($top-color, $bottom-color); /* For Safari 5.1 to 6.0 */
      //background: -o-radial-gradient($top-color, $bottom-color); /* For Opera 11.1 to 12.0 */
      //background: -moz-radial-gradient($top-color, $bottom-color); /* For Firefox 3.6 to 15 */
      //background: radial-gradient($top-color, $bottom-color); /* Standard syntax */
      opacity: 0.05;
    }
  }

  .item-title {
    padding-top: 12px !important;
    font-family: "OpenSans";
    font-size: 20px !important;
    height: 84px;
    display: table;
    width: 100%;
    margin-bottom: 0 !important;

    a {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .item-price {
    height: 80px;
    display: table;
    width: 100%;
    margin-bottom: 12px;

    .prices-container {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .original-price {
    font-family: "OpenSans";
    font-size: 20px;
  }

  .big-price {
    font-family: "OpenSans";
    font-size: 50px !important;
    line-height: 50px;
    font-weight: bold;
  }

  .buy-button {
    width: 100%;
    margin: 0;
    margin-top: 12px;
    font-family: "HappyBirthdayBaby";
    font-size: 48px;
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 30px;
  }

  .info-inner {
    padding: 0 !important;
  }

  .item-title {
    padding-left: 16px;
    padding-right: 16px;
  }

  #best-seller .owl-item .item .item-inner .item-info .info-inner .item-title a:hover {

  }

  .product-title {
    color: black !important;
  }

  .product-title:hover {
    color: black !important;
    text-decoration: underline !important;
  }

  .original-price, .big-price {
    color: black;
  }

  .buy-button {
    color: black;
    background-color: #FFD700;
    border: none;
  }

  .buy-button:hover {
    -webkit-transition: none;
    -o-transition: none;
    transition: all .2s ease-in-out;;
    box-shadow: none;
    border: none;
    color: white;
    background-color: #333;
  }
}