.__components__.__pagination__ {
  margin-top: 0;
  margin-bottom: 20px;

  a {
    display: inline-block;
    font-family: "HappyBirthdayBabyMedium";
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 6px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 !important;
    margin-bottom: $sm-b-spacing;
  }

  .ellipsis {
    margin-right: 6px;
  }
}
