.__components__.__products_home_section__ {
  .section-title {
    font-family: "HappyBirthdayBaby";
    font-weight: bold;
    font-size: 48px;
  }

  a.section-title {
    color: black;
  }

  a.section-title:hover {
    text-decoration: underline;
    color: black;
  }
}
