.__components__.__search_bar__ {
  width: 250px;

  .input-group {
    border: solid 1px $proj-gray-color;
    border-radius: $default-border-radius;

    .input-group-btn {
      padding-top: 0;

      button {
        background: none;
        box-shadow: none;
        border: 0;
        border-right: solid 1px $proj-gray-color;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        margin: 0 !important;

        img {
          height: 28px;
        }
      }
    }

    input {
      border: 0;
      box-shadow: none;
      padding-left: 8px;
      font-size: 14px;
      padding-top: 0;
      padding-bottom: 0;
      height: 42px;
    }
  }
}