.__components__.__striked_text__ {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .line {
    height: 1px;
    background-color: $proj-gray-color;
    flex-grow: 1;
  }

  .text {
    margin-left: 12px;
    margin-right: 12px;
  }

  a {
    color: $proj-gray-color;

    :hover {
      text-decoration: underline;
    }
  }
}
