.__components__.__tags_row__ {
  .row {
    margin-bottom: 12px;
  }

  img {
    width: 96px;
    margin-right: 8px;
  }

  .col {
    margin-top: 12px;
    min-width: 220px;
  }

  .tag-title {
    font-family: "OpenSans";
    font-size: 30px;
    font-weight: bold;
  }

  .tag-subtitle {
    font-family: "OpenSans";
    font-size: 18px;
  }
}