{% extends "admin_base/admin_base.html" %}
{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
{% block subtitle %}
    {{ R.string.edit_home_content }}
{% endblock %}
{% block content %}
    <div class="vertical-fluid"></div>
    <div class="__admin_content__ __home__ container hidden">
        <div class="panel panel-default large">
            <div class="panel-heading">
                <h3 class="panel-title">{{ R.string.edit_home_content }}</h3>
            </div>
            <div class="panel-body">
                {######################################################################################################}
                {# Carousel                                                                                           #}
                {######################################################################################################}
                {% with data=dict(
                    carousel_number=1,
                    carousel_form=data.carousel_1_form
                ) %}
                    {% include "components/carousel_form.html" %}
                {% endwith %}

                {% with data=dict(
                    carousel_number=2,
                    carousel_form=data.carousel_2_form
                ) %}
                    {% include "components/carousel_form.html" %}
                {% endwith %}

                {% with data=dict(
                    carousel_number=3,
                    carousel_form=data.carousel_3_form
                ) %}
                    {% include "components/carousel_form.html" %}
                {% endwith %}

                {######################################################################################################}
                {# Product section                                                                                    #}
                {######################################################################################################}
                {% with data=dict(
                    product_section_number=1,
                    product_section_form=data.product_section_1_form
                ) %}
                    {% include "components/product_section_form.html" %}
                {% endwith %}

                {% with data=dict(
                    product_section_number=2,
                    product_section_form=data.product_section_2_form
                ) %}
                    {% include "components/product_section_form.html" %}
                {% endwith %}

                {% with data=dict(
                    product_section_number=3,
                    product_section_form=data.product_section_3_form
                ) %}
                    {% include "components/product_section_form.html" %}
                {% endwith %}

                {% with data=dict(
                    product_section_number=4,
                    product_section_form=data.product_section_4_form
                ) %}
                    {% include "components/product_section_form.html" %}
                {% endwith %}

                {% with data=dict(
                    product_section_number=5,
                    product_section_form=data.product_section_5_form
                ) %}
                    {% include "components/product_section_form.html" %}
                {% endwith %}

                {######################################################################################################}
                {# Additional product categories and subcategories section                                            #}
                {######################################################################################################}
                {% with title = R.string.what_do_we_have_more_for_you_section %}
                    {% include "components/panel_section_separator.html" %}
                {% endwith %}
                <form action="{{ url_for("admin_content.save_more_categories_section") }}"
                      method="post" enctype=multipart/form-data class="save"
                      data-save-text="{{ R.string.save }}" data-saving-text="{{ R.string.saving }}"
                      data-error-msg="{{ R.string.get_save_product_section_error_msg(data.product_section_number) }}"
                      data-success-msg="{{ R.string.get_save_product_section_success_msg(data.product_section_number) }}">
                    {{ data.more_categories_section_form.csrf_token }}

                    {{ form_fields.select_field(field=data.more_categories_section_form.category_1_id, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.category_1_image, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_1_of_category_1_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_2_of_category_1_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_3_of_category_1_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_4_of_category_1_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_5_of_category_1_id, explicit_label=True, classes="dynamic") }}

                    {{ form_fields.select_field(field=data.more_categories_section_form.category_2_id, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.category_2_image, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_1_of_category_2_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_2_of_category_2_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_3_of_category_2_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_4_of_category_2_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_5_of_category_2_id, explicit_label=True, classes="dynamic") }}

                    {{ form_fields.select_field(field=data.more_categories_section_form.category_3_id, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.category_3_image, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_1_of_category_3_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_2_of_category_3_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_3_of_category_3_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_4_of_category_3_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_5_of_category_3_id, explicit_label=True, classes="dynamic") }}

                    {{ form_fields.select_field(field=data.more_categories_section_form.category_4_id, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.category_4_image, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_1_of_category_4_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_2_of_category_4_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_3_of_category_4_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_4_of_category_4_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_5_of_category_4_id, explicit_label=True, classes="dynamic") }}

                    {{ form_fields.select_field(field=data.more_categories_section_form.category_5_id, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.category_5_image, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_1_of_category_5_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_2_of_category_5_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_3_of_category_5_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_4_of_category_5_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_5_of_category_5_id, explicit_label=True, classes="dynamic") }}

                    {{ form_fields.select_field(field=data.more_categories_section_form.category_6_id, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.category_6_image, explicit_label=True) }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_1_of_category_6_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_2_of_category_6_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_3_of_category_6_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_4_of_category_6_id, explicit_label=True, classes="dynamic") }}
                    {{ form_fields.select_field(field=data.more_categories_section_form.subcategory_5_of_category_6_id, explicit_label=True, classes="dynamic") }}

                    {{ form_fields.submit(field=data.more_categories_section_form.submit) }}
                </form>

                {######################################################################################################}
                {# Blog section                                                                                       #}
                {######################################################################################################}
                {% with data=dict(
                    blog_section_number=1,
                    blog_section_form=data.blog_section_1_form
                ) %}
                    {% include "components/blog_section_form.html" %}
                {% endwith %}

                {% with data=dict(
                    blog_section_number=2,
                    blog_section_form=data.blog_section_2_form
                ) %}
                    {% include "components/blog_section_form.html" %}
                {% endwith %}

                {% with data=dict(
                    blog_section_number=3,
                    blog_section_form=data.blog_section_3_form
                ) %}
                    {% include "components/blog_section_form.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="vertical-fluid"></div>
{% endblock %}
{% block script %}
    <script>
        initDynamicSelects();
        initVerticalFluid();
        initTooltips();
        initSaveForms();
    </script>
{% endblock %}
