{% extends "base/base.html" %}
{% block title %}
    {{ R.string.blog }}
{% endblock %}
{% block header %}
  {% include "components/blog_header.html" %}
{% endblock %}
{% block content %}
    <div class="__blog__ __blog__ container">
      {#    TODO: Put the blog image and find a way to let the admin change the logo image #}
      {#    <img src="..">#}
      <div class="blog-main-img" style="width: 100%; height: 400px; background-color: #99CCFF;"></div>
      {% if recent_blog_posts and recent_blog_posts|length > 0 %}
        <div class="more-recent-posts">
          <div class="strike">
            <span>{{ R.string.more_recent_posts }}</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              {% with blog_post=recent_blog_posts[0] %}
                {% include "components/blog_post_preview.html" %}
              {% endwith %}
            </div>
            {% if recent_blog_posts|length > 1 %}
              <div class="col-md-6">
                {% with blog_post=recent_blog_posts[1] %}
                  {% include "components/blog_post_preview.html" %}
                {% endwith %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="strike-left">
        <span>{{ R.string.previous_posts }}</span>
      </div>
      <div class="row">
        <div class="col-md-8">
          {% if previous_posts and previous_posts|length > 0 %}
            {% with blog_post=previous_posts[0] %}
              {% include "components/blog_post_preview_wide.html" %}
            {% endwith %}
          {% endif %}
          {% if previous_posts and previous_posts|length > 1 %}
            {% with blog_post=previous_posts[1] %}
              {% include "components/blog_post_preview_wide.html" %}
            {% endwith %}
          {% endif %}
          {% if previous_posts and previous_posts|length > 2 %}
            {% with blog_post=previous_posts[2] %}
              {% include "components/blog_post_preview_wide.html" %}
            {% endwith %}
          {% endif %}
          {% if previous_posts and previous_posts|length > 3 %}
            {% with blog_post=previous_posts[3] %}
              {% include "components/blog_post_preview_wide.html" %}
            {% endwith %}
          {% endif %}
        </div>
        <div class="col-md-4">

        </div>
      </div>
    </div>
{% endblock %}
{% block mobile_menu %}
{% endblock %}
