{% extends "base/base.html" %}
{% block title %}
  {{ R.string.blog }}
{% endblock %}
{% block header %}
  {% include "components/blog_header.html" %}
{% endblock %}
{% block content %}
  <div class="__blog__ __blog__ container">
    {#    TODO: Put the blog image and find a way to let the admin change the logo image #}
    {#    <img src="..">#}
    <div class="blog-main-img" style="width: 100%; height: 400px; background-color: #99CCFF;"></div>
    {% if recent_blog_posts and recent_blog_posts|length > 0 %}
      <div class="more-recent-posts">
        <div class="strike">
          <span>{{ R.string.more_recent_posts }}</span>
        </div>
        <div class="row">
          <div class="col-md-6">
            {% with blog_post=recent_blog_posts[0] %}
              {% include "components/blog_post_preview.html" %}
            {% endwith %}
          </div>
          {% if recent_blog_posts|length > 1 %}
            <div class="col-md-6">
              {% with blog_post=recent_blog_posts[1] %}
                {% include "components/blog_post_preview.html" %}
              {% endwith %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="strike-left">
      <span id="posts-anteriores">{{ R.string.previous_posts }}</span>
    </div>
    <div class="row">
      <div class="col-md-8">
        {% if previous_posts_pagination.total > 0 %}
          {% for blog_post in previous_posts_pagination.items %}
            {% with blog_post=blog_post %}
              {% include "components/blog_post_preview_wide.html" %}
            {% endwith %}
          {% endfor %}
          {% with pagination=previous_posts_pagination, fragment="posts-anteriores" %}
            {% include "components/pagination.html" %}
          {% endwith %}
        {% else %}
          {{ R.string.no_posts_found }}
        {% endif %}
      </div>
      <div class="col-md-4">
        <div id="datetimepicker12"></div>
        <div class="tags-section">
          <h2>{{ R.string.tags }}</h2>
          <a href="{{ current_url(query_params={R.string.tag_id_arg_name: 0}, fragment="posts-anteriores") }}">
            {{ R.string.none }}
          </a>
          {% if current_tag_id == 0 %}
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          {% endif %}
          <br>
          {% for blog_tag in blog_tags %}
            <a href="{{ current_url(query_params={R.string.tag_id_arg_name: blog_tag.id, R.string.page_arg_name: 1}, fragment="posts-anteriores") }}">
              {{ blog_tag.name }}
            </a>
            {% if current_tag_id == blog_tag.id %}
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {% endif %}
            <br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block mobile_menu %}
{% endblock %}
{% block script %}
  <script>
      $(function () {
          $('#datetimepicker12').datetimepicker({
              inline: true,
              locale: "pt-br",
              format: 'DD/MM/YYYY',
              maxDate: 'now',
              useCurrent: true,
              maxDate: moment().add(1, 'millisecond')
          });
      });
  </script>
{% endblock %}
