{% extends "admin_base/admin_base.html" %}
{% import "flask_bombril_macros/utils.html" as utils with context %}
{% import "flask_bombril_macros/messages.html" as messages with context %}
{% block subtitle %}
    {{ R.string.products }}
{% endblock %}
{% block content %}
    <div class="__admin_products__ __index__ container">
        {{ utils.page_header(R.string.products) }}
        {% with data=data %}
            {% include "components/super_table.html" %}
        {% endwith %}
    </div>
{% endblock %}
{% block script %}
    <script>
        initSuperTable();
        initIntWithButtonAction($("form.{0}".f("{{ R.string.add_to_stock_class }}")), function (row_idx, dataAsObject) {
            setTextTdValue("{{ R.string.product_stock_col_id }}", row_idx, dataAsObject.new_stock_value);
        });
        initIntWithButtonAction($("form.{0}".f("{{ R.string.remove_from_stock_class }}")), function (row_idx, dataAsObject) {
            setTextTdValue("{{ R.string.product_stock_col_id }}", row_idx, dataAsObject.new_stock_value);
        });
        initIntWithButtonAction($("form.{0}".f("{{ R.string.update_stock_class }}")), function (row_idx, dataAsObject) {
            setTextTdValue("{{ R.string.product_stock_col_id }}", row_idx, dataAsObject.new_stock_value);
        });
    </script>
{% endblock %}
