{% import "flask_bombril_macros/tooltip.html" as tooltip with context %}

{% macro render_errors(errors) %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block">{{ error|safe }}</span>
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% macro string_field(field, explicit_label=False, max_length=None, placeholder="") %}
    {% if max_length == None %}
        {% set max_length=R.dimen.default_string_field_max_length %}
    {% endif %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <label for="{{ field.id }}">{{ field.label }}</label>
            {% if field.render_kw and field.render_kw.tooltip %}
                {{ tooltip.info(field.render_kw.tooltip) }}
            {% endif %}
        {% endif %}
        <input id="{{ field.id }}" name="{{ field.name }}" type="text"
               class="form-control" placeholder="{{ field.label.text|if(not explicit_label, placeholder) }}"
               maxlength="{{ max_length }}"
               value="{{ field.data|if(field.data) }}">
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro integer_field(field, explicit_label=False, placeholder="") %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <label for="{{ field.id }}">{{ field.label }}</label>
            {% if field.render_kw and field.render_kw.tooltip %}
                {{ tooltip.info(field.render_kw.tooltip) }}
            {% endif %}
        {% endif %}
        <input id="{{ field.id }}" name="{{ field.name }}" type="number"
               class="form-control" placeholder="{{ field.label.text|if(not explicit_label, placeholder) }}"
               value="{{ field.data|if(field.data or field.data == 0) }}">
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro boolean_field(field) %}
    <div class="checkbox">
        <label>
            <input id="{{ field.id }}" name="{{ field.name }}" type="checkbox" {{ "checked"|if(field.data) }}>
            {{ field.label.text }}
        </label>
        {% if field.render_kw and field.render_kw.tooltip %}
            {{ tooltip.info(field.render_kw.tooltip) }}
        {% endif %}
    </div>
{%- endmacro %}

{% macro select_field(field, explicit_label=False, classes="") %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            {{ field.label }}
            {% if field.render_kw and field.render_kw.tooltip %}
                {{ tooltip.info(field.render_kw.tooltip) }}
            {% endif %}
        {% endif %}
        {{ field(class_="form-control" + " " + classes + " " + field.classes|if(field.classes)) }}
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro password_field(field, explicit_label=False, max_length=None) %}
    {% if max_length == None %}
        {% set max_length=R.dimen.default_password_field_max_length %}
    {% endif %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <label for="{{ field.id }}">{{ field.label }}</label>
            {% if field.render_kw and field.render_kw.tooltip %}
                {{ tooltip.info(field.render_kw.tooltip) }}
            {% endif %}
        {% endif %}
        <input id="{{ field.id }}" name="{{ field.name }}" type="password" class="form-control"
               placeholder="{{ field.label.text|if(not explicit_label) }}" maxlength="{{ max_length }}">
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro file_field(field, label=False, auxiliar_text=None) %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }} {{ 'zero-margin-bottom'|if(auxiliar_text) }}">
        {% if label %}
            <label for="{{ field.id }}">{{ field.label }}</label>
        {% endif %}
        <input type="file" class="filestyle" name="{{ field.name }}" id="{{ field.id }}" data-icon="false" data-buttonText="{{ R.string.find_image }}">
        {{ render_errors(field.errors) }}
    </div>
    {% if auxiliar_text %}
        <div class="form-group auxiliar-text">
            <span class="help-block">{{ auxiliar_text }}</span>
        </div>
    {% endif %}
{%- endmacro %}

{% macro submit(field) %}
    <input type="submit" class="btn btn-default" value="{{ field.label.text }}">
{%- endmacro %}

{% macro readonly_text_input(text) %}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ text }}" readonly>
    </div>
{%- endmacro %}