{% import "flask_bombril_macros/tooltip.html" as tooltip with context %}

{% macro render_errors(errors) %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <span class="help-block">{{ error|safe }}</span>
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% macro string_field(field, explicit_label=False, placeholder="", readonly=False, max_length=None, auxiliar_texts=None, classes="", xmlattrs={}) %}
    {% if readonly %}
        {% set placeholder="" %}
    {% endif %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }} {{ classes }}">
        {% if explicit_label %}
            <div class="label-container">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {% if field.flags.required and not readonly %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if field.render_kw and field.render_kw.tooltip %}
                    {{ tooltip.info(field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        <input {{ xmlattrs|xmlattr }} id="{{ field.id }}" name="{{ field.name }}" type="text"
               class="form-control {{ classes }}" placeholder="{{ placeholder|if(placeholder != "", field.label.text) }}"
               value="{{ field.data|if(field.data) }}" {{ "readonly"|if(readonly) }} maxlength={{ max_length|if(max_length)}}>
        {{ render_errors(field.errors) }}
    </div>
    {% if auxiliar_texts and auxiliar_texts|length > 0 %}
        <div class="form-group auxiliar-text">
        {% for auxiliar_text in auxiliar_texts %}
            <span class="help-block">{{ auxiliar_text }}</span>
        {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}

{% macro date_field(field, explicit_label=False) %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <div class="label-container">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {% if field.flags.required %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if field.render_kw and field.render_kw.tooltip %}
                    {{ tooltip.info(field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        <div class='input-group date datetimepicker'>
            <input id="{{ field.id }}" name="{{ field.name }}" type='text' class="form-control" data-date-as-string="{{ field.data|if(field.data) }}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro integer_field(field, explicit_label=False, placeholder="", readonly=False, max_length=None, classes="") %}
    {% if readonly %}
        {% set placeholder="" %}
    {% endif %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <div class="label-container">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {% if field.flags.required and not readonly %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if field.render_kw and field.render_kw.tooltip %}
                    {{ tooltip.info(field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        <input id="{{ field.id }}" name="{{ field.name }}" type="number" max="{{ R.dimen.max_value_of_int_field }}" min="{{ R.dimen.min_value_of_int_field }}"
               class="form-control {{ classes }}" placeholder="{{ field.label.text|if(not explicit_label, placeholder) }}"
               value="{{ field.data|if(field.data or field.data == 0) }}" {{ "readonly"|if(readonly) }}>
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro tel_field(field, explicit_label=False, readonly=False, placeholder="", show_auxiliar_text=True) %}
    {% if readonly %}
        {% set placeholder="" %}
    {% endif %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <div class="label-container">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {% if field.flags.required and not readonly %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if field.render_kw and field.render_kw.tooltip %}
                    {{ tooltip.info(field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        <input id="{{ field.id }}" name="{{ field.name }}" type="text" maxlength="{{ R.dimen.tel_max_length }}"
               class="form-control tel" value="{{ field.data|if(field.data) }}" {{ "readonly"|if(readonly) }} placeholder="{{ placeholder }}">
        {{ render_errors(field.errors) }}
    </div>
    {% if show_auxiliar_text and readonly == False %}
        <div class="form-group auxiliar-text">
            <span class="help-block">{{ R.string.just_enter_numbers }}</span>
        </div>
    {% endif %}
{%- endmacro %}

{% macro cep_field(field, explicit_label=False, readonly=False, placeholder="", show_auxiliar_text=True, classes="") %}
    {% if readonly %}
        {% set placeholder="" %}
    {% endif %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }} {{ classes }}">
        {% if explicit_label %}
            <div class="label-container">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {% if field.flags.required and not readonly %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if field.render_kw and field.render_kw.tooltip %}
                    {{ tooltip.info(field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        <input id="{{ field.id }}" name="{{ field.name }}" type="text" maxlength="{{ R.dimen.cep_max_length }}"
               class="form-control cep" value="{{ field.data|if(field.data) }}" {{ "readonly"|if(readonly) }} placeholder="{{ placeholder }}">
        {{ render_errors(field.errors) }}
    </div>
    {% if show_auxiliar_text and readonly == False %}
        <div class="form-group auxiliar-text">
            <span class="help-block">{{ R.string.just_enter_numbers }}</span>
        </div>
    {% endif %}
{%- endmacro %}

{% macro boolean_field(field, readonly=False, classes="") %}
    <div class="checkbox">
        <div class="label-container">
            <label>
                <input id="{{ field.id }}" name="{{ field.name }}" type="checkbox" {{ "checked"|if(field.data) }} {{ "disabled"|if(readonly) }} class="{{ classes }}">
                {{ field.label.text }}
            </label>
            {% if field.render_kw and field.render_kw.tooltip %}
                {{ tooltip.info(field.render_kw.tooltip) }}
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro select_field(field, explicit_label=False, classes="", readonly=False) %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <div class="label-container">
                {{ field.label }}
                {% if field.flags.required %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if field.render_kw and field.render_kw.tooltip %}
                    {{ tooltip.info(field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        {% if readonly %}
            {{ field(class_="form-control" + " " + classes + " " + field.classes|if(field.classes) + " " + field.name, disabled="disabled")}}
        {% else %}
            {{ field(class_="form-control" + " " + classes + " " + field.classes|if(field.classes) + " " + field.name)}}
        {% endif %}
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro password_field(field, explicit_label=False) %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }}">
        {% if explicit_label %}
            <div class="label-container">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {% if field.flags.required %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if field.render_kw and field.render_kw.tooltip %}
                    {{ tooltip.info(field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        <input id="{{ field.id }}" name="{{ field.name }}" type="password" class="form-control"
               placeholder="{{ field.label.text|if(not explicit_label) }}" maxlength="{{ max_length }}">
        {{ render_errors(field.errors) }}
    </div>
{%- endmacro %}

{% macro file_field(field, button_text=None, label=False, auxiliar_texts=None) %}
    <div class="form-group {{ 'has-error'|if(field.errors|length > 0) }} {{ 'zero-margin-bottom'|if(auxiliar_text) }}">
        {% if label %}
            <label for="{{ field.id }}">{{ field.label }}</label>
        {% endif %}
        <input type="file" class="filestyle" name="{{ field.name }}" id="{{ field.id }}" data-icon="false" data-buttonText="{{ button_text|if(button_text, bombril_R.string.find_file) }}">
        {{ render_errors(field.errors) }}
    </div>
    {% if auxiliar_texts and auxiliar_texts|length > 0 %}
        <div class="form-group auxiliar-text">
        {% for auxiliar_text in auxiliar_texts %}
            <span class="help-block">{{ auxiliar_text }}</span>
        {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}

{% macro submit(field) %}
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="{{ field.label.text }}">
    </div>
{%- endmacro %}

{% macro readonly_text_input(text) %}
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ text }}" readonly>
    </div>
{%- endmacro %}