{% macro page_header(title) %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
{%- endmacro %}

{% macro min_uuid(uuid) %}
    <span data-toggle="tooltip" title="#{{ uuid }}" >#{{ uuid[0:5] }}...</span>
{%- endmacro %}

{% macro limited_text_tooltip(text, max_length) %}
    {% if text|string|length <= max_length  %}
        <span class="text-container">{{ text }}</span>
    {% else %}
        <span class="text-container" data-toggle="tooltip" title="{{ text }}">{{ (text|string)[0:max_length-3] }}...</span>
    {% endif %}
{%- endmacro %}

{% macro csrf_input() %}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{% endmacro %}
