.__blog__.__main__ {
  .main-image {
    margin-bottom: 28px;
    width: 100%;
  }

  .main-image-container[max-width~="700px"] {
    .main-image {
      display: none;
    }
  }

  #datetimepicker12 {
    background-color: $calendar-background-color;
    color: white !important;
    font-family: "OpenSans";
    font-size: 16px;
    padding: 8px;
    border-radius: $default-border-radius;

    .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
      color: rgba(255, 255, 255, 0.6);
    }

    .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
      background-color: $dark-green;
    }

    .bootstrap-datetimepicker-widget table td.today:before {
      border-bottom-color: $dark-green;
    }

    .bootstrap-datetimepicker-widget table td.active.today:before {
      border-bottom-color: white;
    }
  }

  .tags-section {
    margin-bottom: 24px;

    h2 {
      font-family: "HappyBirthdayBabyMedium";
      font-size: 24px;
    }

    a {
      color: $proj-gray-color;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
