.__blog__.__post__ {
  .content-container {
    padding: $cardview-padding;
    color: $proj-dark-gray-color;

    .back-blog-button-container {
      text-align: center;
      margin-bottom: 16px;
    }
  }

  .blog-post-image {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      border-top-left-radius: $default-border-radius;
      border-top-right-radius: $default-border-radius;
    }

    img.not-wide {
      display: none;
    }

    .title-container {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 120px;
      background-color: $blog-text-background-color;
      background-color: $blog-text-background-color;
      padding: 8px 16px;
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-size: 32px;
        color: white;
      }
    }
  }

  .blog-post-image[max-width~="760px"] {
    .title-container {
      height: 82px;

      span {
        font-size: 24px;
      }
    }
  }

  .blog-post-image[max-width~="650px"] {
    img.wide {
      display: none;
    }

    img.not-wide {
      display: block;
    }

    .title-container {
      height: 120px;

      span {
        font-size: 24px;
      }
    }
  }

  .blog-post-image[max-width~="480px"] {
    .title-container {
      height: 136px;
      width: 77%;

      span {
        font-size: 17px;
      }
    }

    .__blog_post_preview_date__ {
      .day {
        font-size: 24px;
      }

      .month {
        font-size: 18px;
      }
    }
  }
}