.__products__.__product__ {
  $main-container-items-spacing: $sm-a-spacing;
  $catalog-img-size: 140px;
  $main-img-max-size: 4 * $catalog-img-size + 3 * $main-container-items-spacing;

  .__striked_content__ {
    margin-bottom: $lg-a-spacing;
  }

  .title-container {
    text-align: center;
    margin-bottom: $lg-a-spacing;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-container .catalog-imgs-container {
    .catalog-img-container {
      margin: $main-container-items-spacing;
      max-width: $catalog-img-size;
      max-height: $catalog-img-size;

      img {
        width: 100%;
      }
    }
  }

  .main-container .main-img-container {
    max-width: $main-img-max-size;
    max-height: $main-img-max-size;
    margin: $main-container-items-spacing;
    flex-grow: 2;

    img {
      width: 100%;
    }
  }

  .main-container .buy-box-container {
    padding: $md-a-spacing;
    margin: $main-container-items-spacing;
    flex-grow: 1;
    text-align: center;
    font-size: $md-c-font-size;

    .big-price {
      font-size: $lg-d-font-size;
    }

    .quantity-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: $md-a-spacing;
    }

    .quantity-container input.quantity {
      $size: 65px;
      width: $size;
      height: $size;
      text-align: center;
      border-radius: $infinite-border-radius;
      margin: 0 $sm-b-spacing;
      font-size: $lg-a-font-size;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .quantity-container .change-quantity {
      $size: 40px;
      width: $size;
      height: $size;
      border-radius: $infinite-border-radius;
      border: none;
      outline: none;
      text-align: center;
    }

    button.buy {
      border-radius: $md-c-border-radius;
      padding: $sm-b-spacing $sm-c-spacing;
      font-family: "HappyBirthdayBaby";
      font-size: $md-e-font-size;
      margin-bottom: $md-a-spacing;
    }

    .safe-buy-container {
      margin-bottom: $md-a-spacing;

      img {
        width: 32px;
      }
    }
  }

  .description-and-additional-info-container {
    display: flex;
    margin-bottom: $lg-c-spacing;

    .description, .additional-info {
      padding: $sm-c-spacing;
      margin: $main-container-items-spacing;

      .title {
        font-family: "HappyBirthdayBaby";
        font-size: $lg-b-font-size;
      }
    }

    .description {
      flex-grow: 1;
    }

    .additional-info {
      flex-grow: 1;
      min-width: 55%;

      .nav-tabs {
        font-size: $md-b-font-size;
        margin-bottom: $md-a-spacing;
      }

      a {
        color: $text-color-dark;
      }
    }
  }

  .more-product-container {
    .title {
      font-family: "HappyBirthdayBabyMedium";
      text-align: center;
      color: $text-color-dark;
      font-size: $lg-b-font-size;
      margin-bottom: $md-b-spacing;
    }
  }

  @media screen and (max-width: 991px) {
    .main-container .catalog-imgs-container {
      display: flex;

      .catalog-img-container {
        max-width: 96px;
      }
    }

    .main-container .main-img-container {
      width: 100%;
      max-width: none;
      max-height: none;
    }

    .description-and-additional-info-container {
      flex-wrap: wrap;
    }
  }
}
