.__user_management__.__base__ {
  .cardview {
    padding: $md-a-spacing;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $md-c-spacing;
  }

  .title-container {
    font-size: $lg-a-font-size;
    font-family: "HappyBirthdayBabyMedium";
    text-align: center;
    margin-bottom: $sm-c-spacing;
  }

  .main-title {
    margin-bottom: $md-b-spacing;
  }

  a {
    color: $text-color-dark;
  }
}