.__user_management__.__base__ {
  .cardview {
    padding: $cardview-padding;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $md-c-spacing;
  }

  .title-container {
    font-size: $cardview-title-font-size;
    font-family: "HappyBirthdayBabyMedium";
    text-align: center;
    margin-bottom: $sm-c-spacing;
  }

  a {
    color: $text-color-dark;
  }

  button.personalized {
    height: 36px;
  }
}
