.__user_management__.__login__ {
  $space: $md-a-spacing;

  .__striked_content__ {
    margin-top: $space;
    margin-bottom: $space;
  }

  .buttons-set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .links-container {
      margin-left: $sm-a-spacing;
    }

    .links-container a{
      float: right;
      text-align: right;
    }

    button {
      height: 36px;
    }
  }
}