{% extends "base/base.html" %}
{% import "flask_bombril_macros/messages.html" as messages with context %}
{% block css_bundle %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/client_bundle.css') }}">
{% endblock %}
{% block body %}
    {% include "components/facebook_skd.html" %}
    <div class="__client_base__">
        <div id="page">
            {% include "components/client_header_2.html" %}
            {% block above_content %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% include "components/client_footer_2.html" %}
        </div>
        {% include "components/client_mobile_menu.html" %}
    </div>
{% endblock %}
{% block js_bundle %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/client_bundle.js') }}"></script>
    <script>
        function updateFooterPosition(){
            footer=$("footer");
            page=$("#page");
            footer.removeClass("fixed-at-bottom");
            page_height=page.height();
            window_height=$(window).height();
            if(window_height > page_height) {
                footer.addClass("fixed-at-bottom");
            }
        }

        function initFooter(){
            updateFooterPosition();
            $(window).resize(updateFooterPosition);

            $("form.newsletter-sign").each(function () {
                var form = $(this);
                var submit_input = form.find("input[type='submit']");
                var sign_text = form.attr("data-sign-text");
                var signing_text = form.attr("data-signing-text");
                var error_msg = form.attr("data-error-msg");
                var success_msg = form.attr("data-success-msg");
                var email_input = form.find("input[type='text']");

                setAjaxFormHandlers({
                    form: form,
                    minResponseTime: 800,
                    onSubmit: function () {
                        submit_input.val(signing_text);
                        submit_input.prop("disabled", true);
                    },
                    success: function () {
                        clearErrors(form);
                        throwSuccessOpToast(success_msg.f(email_input.val()));
                        email_input.val("")
                    },
                    error: function (status, dataAsObject) {
                        if (status == 400 && dataAsObject != null && "errors" in dataAsObject) {
                            showFormErrors(form, dataAsObject.errors);
                        }
                        throwErrorOpToast(error_msg)
                    },
                    complete: function () {
                        submit_input.val(sign_text);
                        submit_input.prop("disabled", false);
                    }
                });
            });
        }

        function updateInputs() {
            if( screen.width < 350 ) {
                $("input.search").attr("placeholder", "{{ R.string.search }}");
            }
            else {
                $("input.search").attr("placeholder", "{{ R.string.how_can_we_help_you }}");
            }

            if( screen.width < 690 ) {
                $("input.newsletter-email").attr("placeholder", "{{ R.string.your_email }}");
            }
            else {
                $("input.newsletter-email").attr("placeholder", "{{ R.string.enter_with_your_email }}");
            }
        }

        initFooter();
        updateInputs();

        $(window).resize(function(){
            updateInputs()
        });

        {{ messages.flash_toast() }}
    </script>
{% endblock %}
