{% extends "base/base.html" %}
{% import "flask_bombril_macros/messages.html" as messages with context %}
{% block css_bundle %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/client_bundle.css') }}">
{% endblock %}
{% block body %}
    <div class="__client_base__">
        <div id="page">
            {% include "components/client_header_2.html" %}
            {% block above_content %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% include "components/client_footer.html" %}
        </div>
        {% include "components/client_mobile_menu.html" %}
    </div>
{% endblock %}
{% block js_bundle %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/client_bundle.js') }}"></script>
    <script>
        function updateFooterPosition(){
            footer=$("footer");
            page=$("#page");
            footer.removeClass("fixed-at-bottom");
            page_height=page.height();
            window_height=$(window).height();
            if(window_height > page_height) {
                footer.addClass("fixed-at-bottom");
            }
        }

        function initFooter(){
            updateFooterPosition();
            $(window).resize(updateFooterPosition);
        }

        initFooter();

        {{ messages.flash_toast() }}
    </script>
{% endblock %}
