.__home__ {
  $top-color: rgba(0, 0, 0, 0.0);
  $mid-color: rgba(0, 0, 0, 0.4);
  $bottom-color: rgba(0, 0, 0, 0.6);

  .carousel.container {
    margin-bottom: 20px;
  }

  #myCarousel {
    width: 100%;
    border-radius: $default-border-radius;
    img {
      width: 100%;
      border-radius: $default-border-radius;
    }

  }

  .carousel-control {
    opacity: 0.4;
  }

  .carousel-control.left {
    border-top-left-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
  }

  .carousel-control.right {
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }

  .carousel-control:hover {
    opacity: 0.7;
  }

  #myCarousel {
    margin-top: 0;
    top: -20px;
    margin-bottom: 34px;

    div.img-container {
      max-height: 460px;
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .carousel-indicators {
    bottom: -50px;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9
  ;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #e63c38;;
    border-radius: 50%;
  }
  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #e63c38;
  }
  .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: $mid-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($top-color, $bottom-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($top-color, $bottom-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($top-color, $bottom-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient($top-color, $bottom-color); /* Standard syntax */
    border-bottom-left-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }

  .blog-img a.info {
    margin-top: 14%;
  }

  .__blog_post_preview_wide__ {
    .title-container {
      width: 100% !important;

      span {
        color: black;
      }
    }
  }

  .additional-product-categories-and-subcategories-section-title-container {
    text-align: center;
    margin-bottom: 16px;
  }

  .additional-product-categories-and-subcategories-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .column {
      padding: 4px;
      min-width: 128px;
    }

    img {
      width: 96px;
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        text-align: left;
      }
    }
  }

  .glyphicon-chevron-left:before {
    font-size: 24px;
    font-weight: bold;
  }

  .glyphicon-chevron-right:before {
    font-size: 24px;
    font-weight: bold;
  }

  .carousel-caption .title {
    font-family: "OpenSans";
    font-size: 28px;
    font-weight: bold;
  }

  .carousel-caption .subtitle {
    font-family: "OpenSans";
    font-size: 18px;
  }

  .more-categories {
    .category-title {
      font-family: "OpenSans";
      font-size: 16px;
      margin-top: 16px;
      border-bottom: none;
      margin-bottom: 12px;
      color: $proj-gray-color;
    }

    .subcategory-title {
      font-family: "OpenSans";
      font-size: 14px;
      color: $proj-gray-color;
    }

    .category-title:hover {
      text-decoration: underline;
    }

    .subcategory-title:hover {
      text-decoration: underline;
    }
  }

  #myCarousel {
    margin-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    .carousel.container {
      display: none;
    }
  }
}