{% extends "admin_base/admin_base.html" %}
{% import "flask_bombril_macros/utils.html" as utils with context %}
{% block subtitle %}
    {{ R.string.images }}
{% endblock %}
{% block content %}
    <div class="__admin_images__ __index__ container">
        {{ utils.page_header(R.string.images) }}
        {% with data=data %}
            {% include "components/super_table.html" %}
        {% endwith %}
    </div>
{% endblock %}
{% block script %}
    <script>
        $("button.{0}".f("{{ R.string.remove_class }}")).each(function(){
            var button = $(this);
            var url = button.attr("{{ R.string.remove_image_url_meta_data_key }}");
            var image_name = button.attr("{{ R.string.image_name_meta_data_key }}");
            setAjaxButtonHandlers({
                button: button,
                url: url,
                minResponseTime: DEFAULT_RESPONSE_TIME,
                onClick: function () {
                    button.html("{{ R.string.removing }}");
                    button.prop("disabled", true);
                },
                success: function () {
                    button.html("{{ R.string.image_removed }}");
                },
                error: function () {
                    button.prop("disabled", false);
                    button.html("{{ R.string.remove }}");
                    throwErrorOpToast("{{ R.string.remove_image_error }}".f(image_name));
                }
            })
        })
    </script>
{% endblock %}