$infinite-border-radius: 9999px;

$normal-yellow: #FCE20D;
$normal-green: #35B149;
$dark-green: #056B38;
$light-gray: #AAA;
$normal-gray: #888;
$dark-gray: #333;

$accent-color-a-light: black;
$accent-color-a-normal: $normal-green;
$accent-color-a-dark: $dark-green;
$accent-color-b-light: black;
$accent-color-b-normal: $normal-yellow;
$accent-color-b-dark: black;
$accent-color-c-1: white;
$accent-color-c-2: rgba(210, 210, 210, 0.6);
$accent-color-c-3: rgba(160, 160, 160, 1);
$background-color-light: white;
$background-color-normal: white;
$background-color-dark: white;
$text-color-light: $light-gray;
$text-color-normal: $normal-gray;
$text-color-dark: $dark-gray;

$proj-gray-color: #888888;
$proj-gray-color-half-transparent: rgba(136, 136, 136, 0.5);
$proj-gray-color-quarter-transparent: rgba(136, 136, 136, 0.25);
$proj-dark-gray-color: #444444;
$dark-green: #056B38;
$green: #35B149;
$dark-yellow: #FCE20D;
$blog-text-background-color: rgba(1, 1, 1, 0.4);
$calendar-background-color: rgba(4, 106, 54, 0.5);

// TODO: Remove this variables
$blog-post-preview-small-container-height: 68px;
$blog-post-preview-small-title-size: 18px;
$blog-post-preview-small-day-size: 24px;
$blog-post-preview-small-month-size: 18px;

$blog-post-preview-wide-small-container-height: 68px;
$blog-post-preview-wide-small-title-size: 18px;
$blog-post-preview-wide-small-day-size: 24px;
$blog-post-preview-wide-small-month-size: 18px;
$blog-post-preview-wide-small-container-width-percentage: 60%;

$blog-post-preview-wide-ultra-small-container-height: 60px;
$blog-post-preview-wide-ultra-small-title-size: 15px;
$blog-post-preview-wide-ultra-small-day-size: 20px;
$blog-post-preview-wide-ultra-small-month-size: 14px;
$blog-post-preview-wide-ultra-small-container-width-percentage: 65%;

$sm-a-spacing: 4px;
$sm-b-spacing: 8px;
$sm-c-spacing: 12px;
$md-a-spacing: 18px;
$md-b-spacing: 24px;
$md-c-spacing: 28px;
$lg-a-spacing: 36px;
$lg-b-spacing: 42px;
$lg-c-spacing: 48px;
$lg-d-spacing: 54px;

$sm-font-size: 10px;
$md-a-font-size: 14px;
$md-b-font-size: 16px;
$md-c-font-size: 18px;
$md-d-font-size: 22px;
$md-e-font-size: 26px;
$lg-a-font-size: 32px;
$lg-b-font-size: 36px;
$lg-c-font-size: 42px;
$lg-d-font-size: 48px;
$lg-e-font-size: 54px;
$lg-f-font-size: 60px;

$sm-a-border-radius: 2px;
$sm-b-border-radius: 4px;
$md-a-border-radius: 8px;
$md-b-border-radius: 12px;
$md-c-border-radius: 16px;
$lg-a-border-radius: 20px;
$lg-b-border-radius: 38px;
$lg-c-border-radius: 36px;
$default-border-radius: $sm-b-border-radius;

$fast-transition: all .1s ease-in-out;
$default-transition: all .25s ease-in-out;
$slow-transition: all .5s ease-in-out;

@font-face {
  font-family: 'HappyBirthdayBaby';
  src: url(../fonts/happy_birthday_baby/normal.ttf) format("truetype");
}

@font-face {
  font-family: 'HappyBirthdayBaby';
  src: url(../fonts/happy_birthday_baby/bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'HappyBirthdayBabyMedium';
  src: url(../fonts/happy_birthday_baby/medium.ttf) format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/open_sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/open_sans/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

.__base__>.__base__ {
  height: 100%;
  min-height: 100%;
  background-color: white;
  font-family: "OpenSans";
  color: $proj-gray-color;

  button.personalized, input[type=button].personalized, a.personalized {
    color: $text-color-dark;
    transition: $default-transition;
    border-radius: $default-border-radius;
    border: none;
    padding: $sm-b-spacing;
    height: 36px;

    &.disabled {
      opacity: 0.5;
    }

    &.accent-color-a-normal {
      background-color: $accent-color-a-dark;
      color: whitesmoke;

      &:hover {
        color: whitesmoke;
        background-color: $text-color-dark;
      }
    }

    &.accent-color-b-normal {
      background-color: $accent-color-b-normal;

      &:hover {
        color: whitesmoke;
        background-color: $text-color-dark;
      }
    }

    &.accent-color-c {
      background-color: $accent-color-c-1;
      border: 1px solid $accent-color-c-3;
      color: $text-color-normal;

      &.selected {
        color: $text-color-normal;
        background-color: $accent-color-c-2;
      }

      &:hover {
        color: white;
        background-color: $accent-color-c-3;
      }
    }
  }

  .grow-on-hover-a {
    transition: $default-transition;
  }

  .grow-on-hover-a:hover {
    overflow: visible;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .cardview {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    color: $proj-dark-gray-color;
    border-radius: $default-border-radius;
  }

  .__components__.__striked_content__.title {
    margin-bottom: 28px;

    .content {
      font-size: 24px;
      font-family: "HappyBirthdayBabyMedium";
    }
  }

  .right-indent {
    margin-left: 26px;
  }

  input.qty {
    width: 80px;
  }

  .blog_block_inner {
    width: 100%;
  }

  .btn-social {
    padding-left: 44px !important;
    margin-bottom: 8px;
  }

  .products-total-table {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .panel {
    .page-header {
      margin-top: 25px;
    }
  }

  .panel {
    margin-left: auto;
    margin-right: auto;
  }

  .label-container span.glyphicon.glyphicon-asterisk {
    font-size: 8px;
    top: -4px;
  }

  .modal.details {
    #total-table {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .table-responsive {
      margin-bottom: 0 !important;
    }
  }

  img.logo {
    max-width: 300px;
    max-height: 100px;
  }

  @media screen and (min-width: 992px) {
    .modal-dialog.large {
      width: 900px;
    }

    .panel.large {
      width: 800px;
    }
  }

  @media screen and (min-width: 480px) {
    .panel.med {
      width: 400px;
    }
  }

  @media screen and (max-width: 480px) {
    .panel {
      width: 90%;
    }
  }

  @media screen and (max-width: 767px) {
    .products-total-table {
      border: 1px solid #ddd !important;
    }
  }
}