$product-container-border-radius: 5px;
$item-price-border-radius: 5px;

$proj-gray-color: #888888;
$proj-gray-color-half-transparent: rgba(136, 136, 136, 0.5);
$proj-dark-gray-color: #444444;
$dark-green: #056B38;
$green: #35B149;
$dark-yellow: #FCE20D;
$blog-text-background-color: rgba(1, 1, 1, 0.4);
$calendar-background-color: rgba(4, 106, 54, 0.5);
$default-border-radius: 4px;

$blog-post-preview-small-container-height: 68px;
$blog-post-preview-small-title-size: 18px;
$blog-post-preview-small-day-size: 24px;
$blog-post-preview-small-month-size: 18px;

$blog-post-preview-wide-small-container-height: 68px;
$blog-post-preview-wide-small-title-size: 18px;
$blog-post-preview-wide-small-day-size: 24px;
$blog-post-preview-wide-small-month-size: 18px;
$blog-post-preview-wide-small-container-width-percentage: 60%;

$blog-post-preview-wide-ultra-small-container-height: 60px;
$blog-post-preview-wide-ultra-small-title-size: 15px;
$blog-post-preview-wide-ultra-small-day-size: 20px;
$blog-post-preview-wide-ultra-small-month-size: 14px;
$blog-post-preview-wide-ultra-small-container-width-percentage: 65%;


@font-face {
  font-family: 'HappyBirthdayBaby';
  src: url(../fonts/happy_birthday_baby/normal.ttf) format("truetype");
}

@font-face {
  font-family: 'HappyBirthdayBaby';
  src: url(../fonts/happy_birthday_baby/bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: 'HappyBirthdayBabyMedium';
  src: url(../fonts/happy_birthday_baby/medium.ttf) format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/open_sans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/open_sans/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

.__base__ {
  height: 100%;
  min-height: 100%;
  background-color: white;
  font-family: "OpenSans";
  color: $proj-gray-color;

  .right-indent {
    margin-left: 26px;
  }

  input.qty {
    width: 80px;
  }

  .blog_block_inner {
    width: 100%;
  }

  .btn-social {
    padding-left: 44px !important;
    margin-bottom: 8px;
  }

  .products-total-table {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .panel {
    .page-header {
      margin-top: 25px;
    }
  }

  .panel {
    margin-left: auto;
    margin-right: auto;
  }

  .label-container span.glyphicon.glyphicon-asterisk {
    font-size: 8px;
    top: -4px;
  }

  .modal.details {
    #total-table {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .table-responsive {
      margin-bottom: 0 !important;
    }
  }

  .markdown-parsed-container {
    .table {
      width: auto !important;
    }

    p.image-container {
      text-align: center;
    }

    img {
      max-width: 90%;
    }

    a {
      color: #337ab7 !important;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: "HappyBirthdayBabyMedium";
    font-size: 24px;
    margin-bottom: 28px;
  }

  .strike > span {
    position: relative;
    display: inline-block;
  }

  .strike > span:before,
  .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $proj-gray-color;
  }

  .strike > span:before {
    right: 100%;
    margin-right: 15px;
  }

  .strike > span:after {
    left: 100%;
    margin-left: 15px;
  }

  .strike-left {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-family: "HappyBirthdayBabyMedium";
    font-size: 24px;
    margin-bottom: 28px;
  }

  .strike-left > span {
    position: relative;
    display: inline-block;
  }

  .strike-left > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $proj-gray-color;
  }

  .strike-left > span:after {
    left: 100%;
    margin-left: 15px;
  }

  .cardview {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.75);
    margin-bottom: 24px;
  }

  .button.personalized {
    font-family: "HappyBirthdayBaby";
    font-size: 24px;
    line-height: 42px;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    border: none;
    background-color: $dark-yellow;
    color: $proj-dark-gray-color;
  }

  .button.personalized.white {
    border: 1px solid $proj-dark-gray-color;
    background-color: white;
  }

  .button.personalized.green {
    border: 1px solid $dark-green;
    color: white;
    background-color: $dark-green;
  }

  .button.personalized:hover {
    transition: all .2s ease-in-out;
    color: white;
    background-color: $proj-dark-gray-color;
  }

  .__components__.__striked_text__.title {
    margin-bottom: 28px;

    .text {
      font-size: 24px;
      font-family: "HappyBirthdayBabyMedium";
    }
  }

  @media screen and (min-width: 992px) {
    .modal-dialog.large {
      width: 900px;
    }

    .panel.large {
      width: 800px;
    }
  }

  @media screen and (min-width: 480px) {
    .panel.med {
      width: 400px;
    }
  }

  @media screen and (max-width: 480px) {
    .panel {
      width: 90%;
    }
  }

  @media screen and (max-width: 767px) {
    .products-total-table {
      border: 1px solid #ddd !important;
    }
  }
}