{% macro alert(message, level=None, dismissible=False) %}
    {% if level == None %}
        {% set level=R.string.info %}
    {% endif %}
    {% if level == R.string.success %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% elif level == R.string.info %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% elif level == R.string.warning %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% elif level == R.string.error %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
{%- endmacro %}

{% macro flash_messages() %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category|is_static %}
            {{ alert(message=message, level=category|get_level, dismissible=False) }}
        {% endif %}
    {% endfor %}
{%- endmacro %}
