{% extends "user_management/base.html" %}
{% block title %}
  {{ R.string.login }}
{% endblock %}
{% block subcontent %}
  <div class="__user_management__ __login__">
    {{ messages.flash_static() }}
    <div class="content">
      {% with
                                    button_text=R.string.enter_with_facebook,
                                    loading_text=R.string.entering,
                                    error_msg=R.string.facebook_login_error_msg,
                                    connect_url=url_for("user_management.facebook_login", **{R.string.csrf_token_arg_name: csrf_token()}) %}
        {% include "components/facebook_button.html" %}
      {% endwith %}
      {% with text=R.string.or_text %}
        {% include "components/striked_content.html" %}
      {% endwith %}
      <form action="{{ request.url }}" method="post" enctype=multipart/form-data>
        {{ login_form.csrf_token }}
        {{ form_fields.string_field(field=login_form.email, max_length=R.dimen.email_max_length, explicit_label=True) }}
        {{ form_fields.password_field(field=login_form.password, explicit_label=True) }}
        <div class="buttons-set">
          <button type="submit" class="button personalized accent-color-a-normal"><span>{{ R.string.to_enter }}</span>
          </button>
          <div class="links-container">
            <a href="{{ url_for('user_management.register') }}">{{ R.string.not_has_account }}</a>
            <br>
            <a href="{{ url_for('user_management.want_redefine_password') }}">{{ R.string.forgot_password_or_want_redefine_it }}</a>
            <br>
            <a href="{{ url_for('user_management.resend_confirmation_email') }}">{{ R.string.resend_confirmation_email_query }}</a>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
{% endblock %}
