.modal-body.markdown.example, textarea.markdown {
  font-family: 'Lucida Console', Monaco, monospace !important;
}

.modal-body.markdown.example {
  white-space: pre-wrap;
}

.modal-body.markdown.preview {
  white-space: pre-wrap;
}

.controls .help-block {
  white-space: pre-wrap;
}

th .tooltip {
  white-space: pre-wrap;

  .tooltip-inner {
    text-align: left;
  }
}

.markdown-buttons-container {
  margin-top: 8px;
}

.modal-backdrop {
  background-color: RGBA(0,0,0,0.9);
}

@media screen and (min-width: 768px) {
  .markdown.modal {
    width: auto;
    left: 20px;
    right: 20px;
    margin: 0;
  }
}
