.__blog__.__blog__ {
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: "HappyBirthdayBabyMedium";
    font-size: 24px;
    margin-bottom: 28px;
  }

  .strike > span {
    position: relative;
    display: inline-block;
  }

  .strike > span:before,
  .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $proj-gray-color;
  }

  .strike > span:before {
    right: 100%;
    margin-right: 15px;
  }

  .strike > span:after {
    left: 100%;
    margin-left: 15px;
  }

  .blog-main-img {
    margin-bottom: 28px;
  }

  .strike-left {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-family: "HappyBirthdayBabyMedium";
    font-size: 24px;
    margin-bottom: 28px;
  }

  .strike-left > span {
    position: relative;
    display: inline-block;
  }

  .strike-left > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $proj-gray-color;
  }

  .strike-left > span:after {
    left: 100%;
    margin-left: 15px;
  }

  #datetimepicker12 {
    background-color: $calendar-background-color;
    color: white !important;
    font-family: "OpenSans";
    font-size: 16px;
    padding: 8px;
    border-radius: $default-border-radius;

    .bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
      color: rgba(255,255,255,0.6);
    }

    .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
      background-color: $dark-green;
    }

    .bootstrap-datetimepicker-widget table td.today:before {
      border-bottom-color: $dark-green;
    }

    .bootstrap-datetimepicker-widget table td.active.today:before {
      border-bottom-color: white;
    }
  }
}