.__blog__.__blog__ {
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: "HappyBirthdayBabyMedium";
    font-size: 24px;
    margin-bottom: 28px;
  }

  .strike > span {
    position: relative;
    display: inline-block;
  }

  .strike > span:before,
  .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $proj-gray-color;
  }

  .strike > span:before {
    right: 100%;
    margin-right: 15px;
  }

  .strike > span:after {
    left: 100%;
    margin-left: 15px;
  }

  .blog-main-img {
    margin-bottom: 28px;
  }

  .more-recent-posts {
    margin-bottom: 28px;
  }
}