.__blog__.__blog__ {
  .featured-thumb a img {
    max-height: 500px;
  }

  .centered-content-container {
    margin-top: 12px;
  }

  .blog-wrapper {
    margin-bottom: 0;
  }

  .pager {
    margin-bottom: 20px;
  }
}