.__client_home__.__home__ {
  $top-color: rgba(0, 0, 0, 0.0);
  $mid-color: rgba(0, 0, 0, 0.4);
  $bottom-color: rgba(0, 0, 0, 0.6);

  .carousel-inner {
    height: 500px;
  }

  #myCarousel {
    height: 500px;
    img {
      height: 500px;
    }
  }

  .carousel-control {
    opacity: 0.4;
  }

  .carousel-control:hover {
    opacity: 0.7;
  }

  #myCarousel {
    margin-top: 0;
    top: -20px;
    margin-bottom: 34px;

    div.img-container {
      max-height: 450px;
    }

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .carousel-indicators {
    bottom: -50px;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9
  ;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #e63c38;;
    border-radius: 50%;
  }
  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #e63c38;
  }
  .carousel-caption {
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: $mid-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($top-color, $bottom-color); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($top-color, $bottom-color); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($top-color, $bottom-color); /* For Firefox 3.6 to 15 */
    background: linear-gradient($top-color, $bottom-color); /* Standard syntax */
  }

  .blog-img a.info {
    margin-top: 14%;
  }

  .additional-product-categories-and-subcategories-section-title-container {
    text-align: center;
    margin-bottom: 16px;
  }

  .additional-product-categories-and-subcategories-section {
    .col {
      text-align: center;
    }

    img {
      width: 86px;
    }

    ul {
      list-style-type: none;

      li {
        text-align: left;
      }
    }
  }

  .glyphicon-chevron-left:before {
    font-size: 55px;
    font-weight: bold;
  }

  .glyphicon-chevron-right:before {
    font-size: 55px;
    font-weight: bold;
  }

  .carousel-caption .title {
    font-family: "OpenSans";
    font-size: 28px;
    font-weight: bold;
  }

  .carousel-caption .subtitle {
    font-family: "OpenSans";
    font-size: 18px;
  }

  .more-categories {
    .title {
      font-family: "HappyBirthdayBaby";
      font-weight: bold;
      font-size: 48px;
      margin-top: 0;
    }

    .category-title {
      font-family: "OpenSans";
      font-size: 30px;
      margin-top: 16px;
      border-bottom: none;
    }

    .subcategory-title {
      font-family: "OpenSans";
      font-size: 18px;
    }

    .category-title:hover {
      text-decoration: underline;
    }

    .subcategory-title:hover {
      text-decoration: underline;
    }
  }
}