{% extends "base/base.html" %}
{% import "flask_bombril_macros/utils.html" as utils with context %}
{% block title %}
  {{ R.string.blog_post_title(blog_post.title) }}
{% endblock %}
{% block header %}
  {% include "components/blog_header.html" %}
{% endblock %}
{% block content %}
  <div class="__blog__ __post__ container">
    {% with text=R.string.blog_post_title_and_date(blog_post), class="title" %}
      {% include "components/striked_content.html" %}
    {% endwith %}
    <div class="cardview">
      <div class="blog-post-image">
        <img class="wide" src="{{ blog_post.get_thumbnail_wide_src() }}">
        <img class="not-wide" src="{{ blog_post.get_thumbnail_src() }}">
        <div class="title-container">
          {{ utils.limited_text_tooltip(text=blog_post.title, max_length=96) }}
        </div>
        {% with date=blog_post.date %}
          {% include "components/blog_post_preview_date.html" %}
        {% endwith %}
      </div>
      <div class="content-container markdown-parsed-container">
        {{ blog_post.content_html|safe }}
        {% with text=R.string.comments, class="title" %}
          {% include "components/striked_content.html" %}
        {% endwith %}
        <div class="fb-comments" data-href="{{ request.url }}" data-numposts="{{ R.dimen.blog_post_n_comments }}"
             data-width="100%"></div>
        <div class="back-blog-button-container">
          <a href="{{ url_for("blog.main") }}">
            <button class="button personalized green">
              {{ R.string.back_to_blog }}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block mobile_menu %}
{% endblock %}
{% block script %}
{% endblock %}
