.__client_user_management__.__register__ {
  .buttons-set {
    .links-container {
      float: right;
      text-align: right;
    }
  }

  .or-text-container {
    text-align: center;
    margin-bottom: 8px;
  }
}