.__checkout_blueprint__.__base__ {
  .__striked_content__ {
    margin-bottom: $md-a-spacing;
  }

  .cardview {
    padding: $cardview-padding;
    margin-bottom: $md-a-spacing;
  }

  .cardview.main {
    .title-container {
      font-family: "HappyBirthdayBaby";
      font-size: $lg-a-font-size;
      margin-bottom: $sm-c-spacing;
    }
  }

  .cardview.steps {
    .title-container {
      font-family: "HappyBirthdayBaby";
      font-size: $lg-a-font-size;
      margin-bottom: $sm-c-spacing;
    }

    a {
      color: $text-color-dark;
    }
  }

  .buttons-container {
    a, button {
      text-decoration: none;
    }

    a:not(:first-child) {
      margin-left: $sm-b-spacing;
    }

    button:not(:first-child) {
      margin-left: $sm-b-spacing;
    }
  }
}
