.__admin_content__.__home__ {
  .right-indent {
    margin-left: 26px;
  }

  .panel {
    width: $panel-lg-width;
    margin-left: auto;
    margin-right: auto;
  }

  .page-header.first {
    margin-top: 25px;
  }
}