.__client_products__.__product__ {
  $in-stock-color: #006622;

  p.availability.in-stock {
    //background-color: ;
  }

  .product-img-box .alert .glyphicon {
    margin-right: 5px;
  }

  .product-img-box .alert.alert-success {
    border-color: $in-stock-color;
  }

  .product-img-box .alert.alert-danger {
    border-color: #a94442;
  }

  .product-img-box .alert {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 6px;

    .availability {
      position: relative;
      top: auto;
      right: auto;

      span {
        color: $in-stock-color;
      }
    }
  }

  .product-view .short-description p {
    color: black;
  }

  .product-img-box {
      padding-left: 0;
  }

  .mobile-tab-content  {
    overflow: hidden;
    font-size: 14px;
    padding: 25px 0;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .product-img-box .product-image {
      height: 725px;
    }

    .product-view .product-shop {
      height: 725px;
    }

    .mobile-tab-content {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .tab-content.no-mobile {
      display: none;
    }
  }

  @media screen and (max-width: 479px) {
    .product-img-box {
      padding-left: 0;
      width: 100%;
    }
  }
}
