{% set data = get_components_admin_navbar_data|assert_defined|assert_callable|call %}
{% import "macros/admin_navbar.html" as admin_navbar with context %}
<div class="__components__ __navbar__">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">{{ R.string.admin_dashboard }}</span>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{ admin_navbar.simple_navbar_item(
                        id=R.id.ADMIN_NAVBAR_HOME,
                        endpoint="admin_home.index",
                        text=R.string.home
                    ) }}
                    {{ admin_navbar.complex_navbar_item(
                        id=R.id.ADMIN_NAVBAR_PRODUCTS,
                        text=R.string.products,
                        subitems = [
                            [
                                {
                                    "endpoint": "admin_products.add_product",
                                    "text": R.string.add_new_product
                                },
                                {
                                    "endpoint": "admin_products.index",
                                    "text": R.string.products_table
                                }
                            ],
                            [
                                {
                                    "endpoint": "admin_products.add_category",
                                    "text": R.string.add_new_category
                                },
                                {
                                    "endpoint": "admin_products.categories",
                                    "text": R.string.categories_table
                                }
                            ],
                            [
                                {
                                    "endpoint": "admin_products.add_subcategory",
                                    "text": R.string.add_new_subcategory
                                },
                                {
                                    "endpoint": "admin_products.subcategories",
                                    "text": R.string.subcategories_table
                                }
                            ],
                        ]
                    ) }}
                    {{ admin_navbar.simple_navbar_item(
                        id=R.id.ADMIN_NAVBAR_ORDERS,
                        endpoint="admin_orders.index",
                        text=R.string.orders
                    ) }}
                    {{ admin_navbar.complex_navbar_item(
                        id=R.id.ADMIN_NAVBAR_BLOG,
                        text=R.string.blog,
                        subitems = [
                            {
                                "endpoint": "admin_blog.add_post",
                                "text": R.string.add_new_post
                            },
                            {
                                "endpoint": "admin_blog.posts",
                                "text": R.string.posts_table
                            }
                        ]
                    ) }}
                    {{ admin_navbar.simple_navbar_item(
                        id=R.id.ADMIN_NAVBAR_CUSTOMERS,
                        endpoint="admin_clients.index",
                        text=R.string.customers
                    ) }}
                    {{ admin_navbar.complex_navbar_item(
                        id=R.id.ADMIN_NAVBAR_IMAGES,
                        text=R.string.images,
                        subitems = [
                            {
                                "endpoint": "admin_images.add_image",
                                "text": R.string.add_new_image
                            },
                            {
                                "endpoint": "admin_images.index",
                                "text": R.string.images_table
                            }
                        ]
                    ) }}
                    {{ admin_navbar.complex_navbar_item(
                        id=R.id.ADMIN_NAVBAR_CONTENT,
                        text=R.string.content,
                        subitems = [
                            {
                                "endpoint": "admin_content.home",
                                "text": R.string.home
                            },
                            {
                                "endpoint": "admin_content.contact",
                                "text": R.string.contact
                            },
                            {
                                "endpoint": "admin_content.about_us",
                                "text": R.string.about_us
                            },
                            {
                                "endpoint": "admin_content.faq",
                                "text": R.string.faq
                            },
                            {
                                "endpoint": "admin_content.footer",
                                "text": R.string.footer
                            }
                        ]
                    ) }}
                    {{ admin_navbar.complex_navbar_item(
                        id=R.id.ADMIN_NAVBAR_ATTENDED_CITIES,
                        text=R.string.attended_cities,
                        subitems = [
                            {
                                "endpoint": "admin_attended_cities.add_city",
                                "text": R.string.add_new_city
                            },
                            {
                                "endpoint": "admin_attended_cities.index",
                                "text": R.string.cities_table
                            }
                        ]
                    ) }}
                </ul>
            </div>
        </div>
    </nav>
</div>
