{% import "flask_bombril_macros/utils.html" as utils with context %}
<div class="__components__ __blog_post_preview_wide__">
  <a href="{{ blog_post.get_href() }}">
    <div class="image-container">
      <img src="{{ blog_post.get_thumbnail_wide_src() }}">
      <div class="title-container">
        {% if not title_max_size %}
          {% set title_max_size=32 %}
        {% endif %}
        {{ utils.limited_text_tooltip(text=blog_post.title, max_length=title_max_size) }}
      </div>
      {% with date=blog_post.date %}
        {% include "components/blog_post_preview_date.html" %}
      {% endwith %}
    </div>
  </a>
</div>
