{% import "flask_bombril_macros/utils.html" as utils with context %}
<div class="__components__ __blog_post_preview__">
  <div class="blog-post-container">
    <a href="{{ blog_post.get_href() }}">
      <div class="blog-post-image">
        <img src="{{ blog_post.get_thumbnail_src() }}">
        <div class="title-container">
          {{ utils.limited_text_tooltip(text=blog_post.title, max_length=64) }}
        </div>
        {% with date=blog_post.date %}
          {% include "components/blog_post_preview_date.html" %}
        {% endwith %}
      </div>
    </a>
  </div>
</div>
