{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
<div class="__components__ __product_section_form__">
    <div class="page-header first">
        <h2>
            <small>{{ R.string.get_section_n(data.blog_section_number) }}</small>
        </h2>
    </div>
    <form action="{{ url_for("admin_content.save_blog_section", blog_section_number=data.blog_section_number) }}"
          method="post" enctype=multipart/form-data class="save"
          data-save-text="{{ R.string.save }}" data-saving-text="{{ R.string.saving }}"
          data-error-msg="{{ R.string.get_save_blog_section_error_msg(data.blog_section_number) }}"
          data-success-msg="{{ R.string.get_save_blog_section_success_msg(data.blog_section_number) }}">
        {{ data.blog_section_form.csrf_token }}
        {{ form_fields.boolean_field(field=data.blog_section_form.active) }}
        {{ form_fields.string_field(field=data.blog_section_form.name, explicit_label=True) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_fields.select_field(field=data.blog_section_form.post_1_id, explicit_label=True) }}
            </div>
            <div class="col-md-6">
                {{ form_fields.select_field(field=data.blog_section_form.post_2_id, explicit_label=True) }}
            </div>
        </div>
        {{ form_fields.submit(field=data.blog_section_form.submit) }}
    </form>
</div>