{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
{% import "flask_bombril_macros/messages.html" as messages with context %}
<div class="__components__ __city_panel_form__">
    <div class="panel panel-default med">
        <div class="panel-heading">
            <h3 class="panel-title">{{ data.title }}</h3>
        </div>
        <div class="panel-body">
            {{ messages.flash_static() }}
            <form action="{{ request.url }}" method="post" enctype=multipart/form-data>
                {{ data.city_form.csrf_token }}
                {{ form_fields.boolean_field(field=data.city_form.active) }}
                {{ form_fields.select_field(field=data.city_form.state_id, explicit_label=True) }}
                {{ form_fields.string_field(field=data.city_form.city_name, max_length=R.dimen.city_name_max_length, explicit_label=True, placeholder=R.string.city_placeholder) }}
                {{ form_fields.submit(field=data.city_form.submit) }}
            </form>
        </div>
    </div>
</div>
