{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
<div class="panel panel-default">
    <div class="panel-heading">{{ R.string.client_data }}</div>
    <div class="panel-body">
        {{ form_fields.string_field(field=client_form.email, explicit_label=True, readonly=readonly) }}
        {{ form_fields.boolean_field(field=client_form.email_confirmed, readonly=readonly) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_fields.string_field(field=client_form.first_name, explicit_label=True, readonly=readonly) }}
            </div>
            <div class="col-md-6">
                {{ form_fields.string_field(field=client_form.last_name, explicit_label=True, readonly=readonly) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_fields.select_field(field=client_form.state, explicit_label=True, readonly=readonly) }}
            </div>
            <div class="col-md-6">
                {{ form_fields.select_field(field=client_form.city, explicit_label=True, readonly=readonly) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                {{ form_fields.string_field(field=client_form.address, explicit_label=True, readonly=readonly) }}
            </div>
            <div class="col-md-3">
                {{ form_fields.integer_field(field=client_form.address_number, explicit_label=True, readonly=readonly) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_fields.string_field(field=client_form.address_complement, explicit_label=True, readonly=readonly) }}
            </div>
            <div class="col-md-4">
                {{ form_fields.string_field(field=client_form.cep, explicit_label=True, readonly=readonly) }}
            </div>
            <div class="col-md-4">
                {{ form_fields.string_field(field=client_form.tel, explicit_label=True, readonly=readonly) }}
            </div>
        </div>
    </div>
</div>