{% set data = get_components_client_footer_data|assert_defined|assert_callable|call %}
{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
<div class="__components__ __client_footer_2__">
    <footer>
        <div class="row newsletter-part">
            <div class="container">
                <div class="col-xs-6">
                    <h2 class="stay-in">{{ R.string.stay_in }}</h2>
                    <p class="auxiliar-message">{{ R.string.stay_in_auxiliar_message }}</p>
                </div>
                <div class="col-xs-6 newsletter-sign">
                    <form action="{{ url_for("components.register_new_newsletter_email") }}" method="post" class="newsletter-sign"
                          enctype=multipart/form-data data-sign-text="{{ R.string.sign }}"
                          data-signing-text="{{ R.string.signing }}"
                          data-error-msg="{{ R.string.newsletter_sign_error_msg }}"
                          data-success-msg="{{ R.string.newsletter_sign_success_msg }}">
                        {{ data.newsletter_email_form.csrf_token() }}
                        <table>
                            <tr>
                                <td class="email-input">{{ form_fields.string_field(field=data.newsletter_email_form.email, explicit_label=False, placeholder=R.string.enter_with_your_email, classes="newsletter-email") }}</td>
                                <td>{{ form_fields.submit(field=data.newsletter_email_form.submit) }}</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-6">
                    <h2 class="title">{{ R.string.contact }}</h2>
                    {% if data.tel %}
                        <p class="content">{{ data.tel }}</p>
                    {% endif %}
                    {% if data.email %}
                        <p class="content">{{ data.email }}</p>
                    {% endif %}
                    {% if data.address_html %}
                        <div class="content">
                            {{ data.address_html|safe }}
                        </div>
                    {% endif %}
                    {% if data.social_networks and data.social_networks|length > 0 %}
                        {% for item in data.social_networks %}
                            {% if item.active and item.is_facebook %}
                                <div class="fb-page"
                                     data-href="{{ item.href }}"
                                     data-width="340"
                                     data-hide-cover="false"
                                     data-show-facepile="true">
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if data.social_networks and data.social_networks|length > 0 %}
                        <div class="social">
                            {% for item in data.social_networks %}
                                {% if item.active %}
                                    <div class="pull-left {{ item.classes }}">
                                        <a target="_blank" rel="nofollow" href="{{ item.href }}" class="social-icon"
                                           title="{{ item.title }}"></a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h2 class="title">{{ R.string.about_us }}</h2>
                    <div class="content">
                        {{ data.about_us_summary_html|safe }}
                    </div>
                    <div class="read-more-container">
                        <a href="{{ url_for('client_about_us.about_us') }}" class="content">{{ R.string.read_more_plus }}</a>
                    </div>
                    <h2 class="title">{{ R.string.utilities }}</h2>
                    <a href="{{ url_for('client_faq.faq') }}" class="content">{{ R.string.faq }}</a><br>
                    <a href="{{ url_for('client_payment.payment') }}" class="content">{{ R.string.payment }}</a><br>
                    <a href="{{ url_for('client_dispatch.dispatch') }}" class="content">{{ R.string.dispatch }}</a><br>
                    <a href="{{ url_for('client_exchanges_and_returns.exchanges_and_returns') }}" class="content">{{ R.string.exchanges_and_returns }}</a>
                    <h2 class="title">{{ R.string.payment_methods }}</h2>
                    <div class="payments-methods-container">
                        <img src="{{ url_for('static', filename='imgs/master_card.png') }}">
                        <img src="{{ url_for('static', filename='imgs/visa.png') }}">
                        <img src="{{ url_for('static', filename='imgs/boleto.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row lower-text">
            <div class="container mini-content">
                {{ data.lower_text_html|safe }}
            </div>
        </div>
    </footer>
</div>