{% set data=get_header_data() %}
<div class="__components__ __header__">
  <header>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url_for('client_home.home') }}">
            <img class="logo" src="{{ data.header_content.get_logo_img_src() }}">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="first-row">
        <a class="logo" href="{{ url_for('client_home.home') }}">
          <img class="logo" src="{{ data.header_content.get_logo_img_src() }}">
        </a>
        {% include "components/search_bar.html" %}
        <div class="right-part">
          <div>
            {% if (not data.user.is_anonymous) and data.user.is_authenticated %}
              {{ R.string.logged_header_hello(data.user)|safe }}
            {% else %}
              {{ R.string.unlogged_header_hello(data.user)|safe }}
            {% endif %}
          </div>
          <a href="{{ url_for("client_account.my_account") }}">
            <img class="my-account" src="{{ url_for('static', filename='imgs/baby-3.png') }}">
          </a>
          <a href="{{ url_for("client_cart.cart") }}">
            <img class="cart" src="{{ url_for('static', filename='imgs/stroller.png') }}">
          </a>
        </div>
      </div>
      <div class="second-row">
        {% for product_category in data.product_categories %}
          {% if loop.index0 < data.header_content.n_visible_categories %}
            <div class="dropdown">
              <a class="menu-item btn" href="#">{{ product_category.name }}</a>
              <div class="dropdown-content">
                <ul>
                  {% for product_subcategory in product_category.product_subcategories %}
                    {% if product_subcategory.active %}
                      <a href="{{ product_subcategory.get_href() }}">
                        <li>
                          {{ product_subcategory.name }}
                        </li>
                      </a>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        {#        TODO: Get the correct href#}
        <a href="#" class="menu-item">
          {{ R.string.others }}
        </a>
        <a href="{{ url_for("blog.main") }}" class="menu-item">
          {{ R.string.blog }}
        </a>
      </div>
    </div>
  </header>
</div>
