{% set data=get_header_data() %}

{% macro product_subcategories_list(product_category) %}
  {% for product_subcategory in product_category.product_subcategories %}
    {% if product_subcategory.active %}
      <a class="subcategory" href="{{ product_subcategory.get_href() }}">
        {{ product_subcategory.name }}
      </a><br>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro right_part(class="") %}
  <div class="right-part {{ class }}">
    <div class="text">
      {% if (not data.user.is_anonymous) and data.user.is_authenticated %}
        {{ R.string.logged_header_hello(data.user)|safe }}
      {% else %}
        {{ R.string.unlogged_header_hello(data.user)|safe }}
      {% endif %}
    </div>
    <a href="{{ url_for("client_account.my_account") }}">
      <img class="my-account" src="{{ url_for('static', filename='imgs/baby-3.png') }}">
    </a>
    <a href="{{ url_for("client_cart.cart") }}">
      <img class="cart" src="{{ url_for('static', filename='imgs/stroller.png') }}">
    </a>
  </div>
{% endmacro %}

<div class="__components__ __header__">
  <header>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <div class="mobile-menu-row">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url_for('home.home') }}">
            <img class="logo" src="{{ data.header_content.get_logo_img_src() }}">
          </a>
          {{ right_part() }}
        </div>
        {% include "components/search_bar.html" %}
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="first-row">
        <a class="logo" href="{{ url_for('home.home') }}">
          <img class="logo" src="{{ data.header_content.get_logo_img_src() }}">
        </a>
        {% include "components/search_bar.html" %}
        {{ right_part() }}
      </div>
      <div class="second-row">
        <div class="dropdown">
          <a class="menu-item btn blog" href="{{ url_for("blog.main") }}" class="menu-item">
            {% if data.header_content.has_blog_icon_img() %}
              <img class="menu-icon" src="{{ data.header_content.get_blog_menu_icon_img_src() }}">
            {% endif %}
            {{ R.string.blog }}
          </a>
        </div>
        {% for product_category in data.product_categories %}
          {% if loop.index0 < data.header_content.n_visible_categories %}
            <div class="dropdown">
              {% set has_active_subcategory = product_category.has_active_subcategory() %}
              <a class="menu-item btn {{ 'all-rounded'|if(not has_active_subcategory) }}"
                 href="{{ product_category.get_href() }}">
                {% if product_category.has_menu_icon_image() %}
                  <img class="menu-icon" src="{{ product_category.get_menu_icon_image_src() }}">
                {% endif %}
                {{ product_category.name }}
              </a>
              {% if has_active_subcategory %}
                <div class="dropdown-content">
                  {{ product_subcategories_list(product_category) }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="dropdown">
          <a class="menu-item btn" href="{{ url_for("client_products.products") }}">{{ R.string.others }}</a>
          <div class="dropdown-content others-section">
            {% for product_category_row in data.product_categories_by_4_grouped %}
              <div class="row">
                {% for product_category in product_category_row %}
                  <div class="col-sm-3 col">
                    <b><a href="{{ product_category.get_href() }}">{{ product_category.name }}</a></b><br>
                    {{ product_subcategories_list(product_category) }}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
