{% set data=get_header_data() %}

{% macro product_subcategories_list(product_category) %}
  {% for product_subcategory in product_category.product_subcategories %}
    {% if product_subcategory.active %}
      <a class="subcategory" href="{{ product_subcategory.get_href() }}">
        {{ product_subcategory.name }}
      </a><br>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro right_part(class="") %}
  <div class="right-part {{ class }}">
    <div class="text">
      {% if (not data.user.is_anonymous) and data.user.is_authenticated %}
        {{ R.string.logged_header_hello(data.user)|safe }}
      {% else %}
        {{ R.string.unlogged_header_hello(data.user)|safe }}
      {% endif %}
    </div>
    <a href="{{ url_for("client_account.my_account") }}">
      <img class="my-account" src="{{ url_for('static', filename='imgs/baby-3.png') }}">
    </a>
    <a href="{{ url_for("client_cart.cart") }}">
      <img class="cart" src="{{ url_for('static', filename='imgs/stroller.png') }}">
    </a>
  </div>
{% endmacro %}

<div class="__components__ __header__">
  <header>
{#    TODO: Test if the active nav item is functioning for every pertinent case#}
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <div class="mobile-menu-row">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url_for('home.home') }}">
            <img class="logo" src="{{ data.header_content.get_logo_img_src() }}">
          </a>
          {{ right_part() }}
        </div>
        {% with url=url_for("products.products") %}
          {% include "components/search_bar.html" %}
        {% endwith %}
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{ 'active'|if(request.path == url_for('home.home')) }}">
            <a href="{{ url_for('home.home') }}">
              {{ R.string.home }}
            </a>
          </li>
          {% if (not data.user.is_anonymous) and data.user.is_authenticated %}
            <li class="{{ 'active'|if(request.path == url_for('client_account.my_account')) }}">
              <a href="{{ url_for('client_account.my_account') }}">
                {{ R.string.my_account }}
              </a>
            </li>
          {% else %}
            <li class="{{ 'active'|if(request.path == url_for('client_user_management.login')) }}">
              <a href="{{ url_for('client_user_management.login') }}">
                {{ R.string.enter }}
              </a>
            </li>
            <li class="{{ 'active'|if(request.path == url_for('client_user_management.register')) }}">
              <a href="{{ url_for('client_user_management.register') }}">
                {{ R.string.register }}
              </a>
            </li>
          {% endif %}
          <li class="{{ 'active'|if(request.path == url_for('client_cart.cart')) }}">
            <a href="{{ url_for('client_cart.cart') }}">
              {{ R.string.cart }}
            </a>
          </li>
          {% for product_category in data.product_categories %}
            {% set is_active=data.current_category_id == product_category.id %}
            <li class="{{ 'active'|if(is_active)}}">
              <a href="{{ product_category.get_href() }}">
                {{ product_category.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="first-row">
        <a class="logo" href="{{ url_for('home.home') }}">
          <img class="logo" src="{{ data.header_content.get_logo_img_src() }}">
        </a>
        {% with url=url_for("products.products") %}
          {% include "components/search_bar.html" %}
        {% endwith %}
        {{ right_part() }}
      </div>
      <div class="second-row">
        <div class="dropdown others-section">
          <a class="menu-item btn" href="{{ url_for("products.products") }}">{{ R.string.others }}</a>
          <div class="dropdown-content others-section">
            {% for product_category_row in data.product_categories_by_4_grouped %}
              <div class="row">
                {% for product_category in product_category_row %}
                  <div class="col-sm-3 col">
                    <b><a href="{{ product_category.get_href() }}">{{ product_category.name }}</a></b><br>
                    {{ product_subcategories_list(product_category) }}
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
        {% for product_category in data.product_categories %}
          {% if loop.index0 < data.header_content.n_visible_categories %}
            <div class="dropdown">
              {% set has_active_subcategory = product_category.has_active_subcategory() %}
              <a class="menu-item btn {{ 'all-rounded'|if(not has_active_subcategory) }}"
                 href="{{ product_category.get_href() }}">
                {% if product_category.has_menu_icon_image() %}
                  <img class="menu-icon" src="{{ product_category.get_menu_icon_image_src() }}">
                {% endif %}
                {{ product_category.name }}
              </a>
              {% if has_active_subcategory %}
                <div class="dropdown-content">
                  {{ product_subcategories_list(product_category) }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="dropdown">
          <a class="menu-item btn blog" href="{{ url_for("blog.main") }}" class="menu-item">
            {% if data.header_content.has_blog_icon_img() %}
              <img class="menu-icon" src="{{ data.header_content.get_blog_menu_icon_img_src() }}">
            {% endif %}
            {{ R.string.blog }}
          </a>
        </div>
      </div>
    </div>
  </header>
</div>
