{% import "flask_bombril_macros/utils.html" as utils with context %}
<div class="__components__ __item_inner__">
    <div class="item-inner grow {{ 'unavailable'|if(not product.is_available_to_client) }}">
        <div class="item-img">
            <div class="item-img-info">
                <a href="{{ product.get_href() }}" class="product-image">
                    <div class="img-container">
                        <img src="{{ product.get_main_image_src() }}">
                    </div>
                </a>
            </div>
        </div>
        <div class="item-info">
            <div class="info-inner">
                <div class="item-title">
                    <a href="{{ product.get_href() }}">{{ utils.limited_text_tooltip(text=product.title, max_length=R.dimen.item_inner_max_length) }}</a>
                </div>
                <div class="add_cart_container">
                    <div class="add_cart">
                        <form method="post" action="{{ url_for('client_cart.add_to_cart', **{R.string.product_id_arg_name: product.id, R.string.amount_arg_name: 1}) }}">
{#                            TODO: Add submit form to protect against csrf attacks#}
                            <button class="button btn-cart" type="submit" title="{{ R.string.add_to_cart }}"></button>
                        </form>
                    </div>
                </div>
                <div class="item-content">
                    <div class="item-price">
                        <div class="price-box">
                        <span class="regular-price">
                            <span class="price">{{ product.get_formatted_price(include_rs=True) }}</span>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>