{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
{% import "flask_bombril_macros/tooltip.html" as tooltip with context %}
<div class="__components__ __markdown_textarea__">
    <div class="form-group {{ 'has-error'|if(data.field.errors|length > 0) }}">
        {% if data.explicit_label %}
            <div class="label-container">
                 <label for="{{ data.field.id }}">{{ data.field.label }}</label>
                {% if data.field.flags.required %}
                    {{ tooltip.asterisk(bombril_R.string.required_field) }}
                {% endif %}
                {% if data.field.render_kw and data.field.render_kw.tooltip %}
                    {{ tooltip.info(data.field.render_kw.tooltip) }}
                {% endif %}
            </div>
        {% endif %}
        <textarea id="{{ data.field.id }}" name="{{ data.field.name }}" class="form-control"
                  rows="{{ data.rows|if(data.rows, 5) }}">{{ data.field.data|if(data.field.data or data.field.data==0) }}</textarea>
        {{ form_fields.render_errors(data.field.errors) }}

        <div class="bottom-part">
            {% if data.example %}
                <button type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#example-modal-{{ data.field.id }}">{{ R.string.example }}</button>
                <div id="example-modal-{{ data.field.id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog large">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ R.string.example }}</h4>
                            </div>
                            <div class="modal-body example">{{ data.example }}</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">{{ R.string.close }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if data.has_preview %}
                <button type="button" class="btn btn-default preview markdown" data-toggle="modal"
                    data-url="{{ url_for('admin_utils.markdown_parse') }}"
                    data-target="#preview-modal-{{ data.field.id }}" data-textarea="#{{ data.field.id }}"
                    data-loading-message="{{ R.string.loading }}"
                    data-error-message="{{ R.string.markdown_preview_error }}"
                >
                    {{ R.string.preview }}
                </button>
                <div id="preview-modal-{{ data.field.id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog large">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ R.string.preview }}</h4>
                            </div>
                            <div class="modal-body">
                                {{ R.string.loading }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">{{ R.string.close }}</button>
                            </div>
                        </div>

                    </div>
                </div>
            {% endif %}

            <a href="{{ R.string.markdown_href }}" target="_blank" class="markdown"><span
                    class="btn btn-primary">{{ R.string.markdown }}</span></a>
        </div>

    </div>
</div>
