{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
{% import "flask_bombril_macros/messages.html" as messages with context %}
<div class="__components__ __product_panel_form__">
    <div class="panel panel-default large">
        <div class="panel-heading">{{ data.title }}</div>
        <div class="panel-body">
            {{ messages.flash_static() }}
            <form action="{{ request.url }}" method="post" enctype=multipart/form-data>
                {{ data.product_form.csrf_token }}
                {{ form_fields.string_field(field=data.product_form.title, explicit_label=True, placeholder=R.string.product_title_example) }}
                {{ form_fields.boolean_field(field=data.product_form.active) }}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.category_id, explicit_label=True) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.subcategory_id, explicit_label=True, classes="dynamic") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form_fields.string_field(field=data.product_form.price, explicit_label=True, placeholder=R.string.product_price_example) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_fields.integer_field(field=data.product_form.stock, explicit_label=True, placeholder=R.string.product_stock_quantity_example) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_fields.integer_field(field=data.product_form.min_stock, explicit_label=True, placeholder=R.string.product_stop_sell_stock_quantity_example) }}
                    </div>
                </div>

                {% with data=dict(
                    field=data.product_form.summary,
                    explicit_label=True,
                    example=R.string.get_product_summary_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}

                {% with title = R.string.images %}
                    {% include "components/panel_section_separator.html" %}
                {% endwith %}
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_1, explicit_label=True) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_2, explicit_label=True) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_3, explicit_label=True) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_4, explicit_label=True) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_5, explicit_label=True) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_6, explicit_label=True) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_7, explicit_label=True) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_8, explicit_label=True) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_9, explicit_label=True) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_fields.select_field(field=data.product_form.image_10, explicit_label=True) }}
                    </div>
                </div>

                {% with title = R.string.tabs %}
                    {% include "components/panel_section_separator.html" %}
                {% endwith %}
                {{ form_fields.string_field(field=data.product_form.tab_1_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_1_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_2_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_2_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_3_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_3_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_4_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_4_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_5_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_5_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_6_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_6_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_7_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_7_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_8_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_8_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_9_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_9_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}
                <hr>
                {{ form_fields.string_field(field=data.product_form.tab_10_title, explicit_label=True, placeholder=R.string.tab_title_example) }}
                {% with data=dict(
                    field=data.product_form.tab_10_content,
                    explicit_label=True,
                    example=R.string.get_product_tab_content_example(),
                    has_preview=True
                ) %}
                    {% include "components/markdown_textarea.html" %}
                {% endwith %}

                {{ form_fields.submit(field=data.product_form.submit) }}
            </form>
        </div>
    </div>
</div>
