{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
<div class="__components__ __product_section_form__">
    {% with title = R.string.get_product_section_n(data.product_section_number) %}
        {% include "components/panel_section_separator.html" %}
    {% endwith %}
    <form action="{{ url_for("admin_content.save_product_section", product_section_number=data.product_section_number) }}"
          method="post" enctype=multipart/form-data class="save"
          data-save-text="{{ R.string.save }}" data-saving-text="{{ R.string.saving }}"
          data-error-msg="{{ R.string.get_save_product_section_error_msg(data.product_section_number) }}"
          data-success-msg="{{ R.string.get_save_product_section_success_msg(data.product_section_number) }}">
        {{ data.product_section_form.csrf_token }}
        {{ form_fields.boolean_field(field=data.product_section_form.active) }}
        {{ form_fields.string_field(field=data.product_section_form.name, explicit_label=True, placeholder=R.string.product_section_name_example) }}
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_1_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_2_id, explicit_label=True) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_3_id, explicit_label=True) }}

            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_4_id, explicit_label=True) }}

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_5_id, explicit_label=True) }}

            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_6_id, explicit_label=True) }}

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_7_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_8_id, explicit_label=True) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_9_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_10_id, explicit_label=True) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_11_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_12_id, explicit_label=True) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_13_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_14_id, explicit_label=True) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_15_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_16_id, explicit_label=True) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_17_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_18_id, explicit_label=True) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_19_id, explicit_label=True) }}
            </div>
            <div class="col-sm-6">
                {{ form_fields.select_field(field=data.product_section_form.product_20_id, explicit_label=True) }}
            </div>
        </div>
        {{ form_fields.submit(field=data.product_section_form.submit) }}
    </form>
</div>