{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
{% import "flask_bombril_macros/tooltip.html" as tooltip with context %}
<div class="__components__ __super_table__">
    {% if data.filter_data %}
        <div class="jumbotron">
            <form class="filter" action="{{ url_for(request.endpoint) }}" method=get>
                <input class="sort-method" name="{{ R.string.sort_method_arg_name }}" hidden>
                {% for field in data.filter_data.filter_form %}
                    {% if field.type == R.string.select_field or field.type == R.string.select_field_with_classes %}
                        <div class="filter-item">
                            {{ form_fields.select_field(field=field, explicit_label=True) }}
                        </div>
                    {% elif field.type == R.string.submit_field %}
                        <div class="filter-item">
                            {{ form_fields.submit(field=field) }}
                        </div>
                    {% endif %}
                {% endfor %}
                <p>{{ R.string.n_items_found(n_items=data.n_items) }}</p>
            </form>
        </div>
    {% elif data.n_items > 0 %}
        <p>{{ R.string.n_items_found(n_items=data.n_items) }}</p>
    {% endif %}

    {% if data.table_data.rows|length > 0 %}
        {% with data=data.paginator_data %}
            {% include "components/paginator.html" %}
        {% endwith %}
        {% if data.table_data.rows|length > 0 and data.sort_methods and data.sort_methods|length > 0 %}
            <div class="form-group sort-method">
                <label for="select-sort-method">{{ R.string.sort_method_label }}</label>
                <select id="select-sort-method" name="{{ data.sort_method_query_arg_name }}"
                        class="form-control sort-method">
                    {% for sort_method in data.sort_methods %}
                        <option value="{{ sort_method.value }}" {{ 'selected'|if(sort_method.selected) }}>{{ sort_method.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="table-responsive {{ 'without-bottom-paginator'|if(data.paginator_data.pages|length <= 1) }}">
            <table id="{{ data.table_data.id|if(data.table_data.id) }}" class="table table-hover">
                <thead>
                <tr>
                    {% for col in data.table_data.cols %}
                        <th id="{{ col.id }}" class="{{ 'min-width'|if(col.id==R.string.action_col_id) }}">
                            {% if col.title %}
                                {{ col.title }}
                                {% if col.tooltip %}
                                    {{ tooltip.info(col.tooltip) }}
                                {% endif %}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in data.table_data.rows %}
                    {% set row_idx = loop.index0 %}
                    <tr id="row-{{ row_idx }}">
                        {% for col in data.table_data.cols %}
                            {% set col_idx = loop.index0 %}
                            {% set item_data = row[col_idx] %}
                            <td id="col-{{ col.id }}-row-{{ row_idx }}">
                                {% if col.type == R.id.COL_TYPE_IMAGE %}
                                    <img src="{{ item_data }}">
                                {% elif col.type == R.id.COL_TYPE_TEXT %}
                                    {{ item_data }}
                                {% elif col.type == R.id.COL_TYPE_BOOL %}
                                    <div class="bool-container {{ 'true'|if(item_data, 'false') }}">
                                        <span class="glyphicon glyphicon-ok true" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-remove false" aria-hidden="true"></span>
                                    </div>
                                {% elif col.type == R.id.COL_TYPE_ACTION %}
                                    {% if col.expandable %}

                                    {% else %}
                                        {% for action in item_data %}
                                            {% if action.type == R.id.ACTION_TYPE_BUTTON %}
                                                <button id="{{ action.id|if(action.id, '') }}"
                                                        class="btn btn-default {{ action.classes }}" {{ action.meta_data|xmlattr }}>
                                                    {{ action.text }}
                                                </button>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% with data=data.paginator_data %}
            {% include "components/paginator.html" %}
        {% endwith %}
    {% else %}
        <p>{{ R.string.no_items_found }}</p>
    {% endif %}
</div>