{% import "flask_bombril_macros/form_fields.html" as form_fields with context %}
{% import "flask_bombril_macros/tooltip.html" as tooltip with context %}
<div class="__components__ __super_table__">
    {% if data.filter_data %}
        <div class="jumbotron">
            <form class="filter" action="{{ url_for(request.endpoint) }}" method=get>
                {% if data.table_data.rows|length > 0 and data.sort_methods and data.sort_methods|length > 0 %}
                    <input class="sort-method" name="{{ R.string.sort_method_arg_name }}" hidden>
                {% endif %}
                {% for field in data.filter_data.filter_form %}
                    {% if field.type == R.string.select_field or field.type == R.string.select_field_with_classes %}
                        <div class="filter-item">
                            {{ form_fields.select_field(field=field, explicit_label=True) }}
                        </div>
                    {% elif field.type == R.string.submit_field %}
                        <div class="filter-item">
                            {{ form_fields.submit(field=field) }}
                        </div>
                    {% endif %}
                {% endfor %}
                <p>{{ R.string.n_items_found(n_items=data.n_items) }}</p>
            </form>
        </div>
    {% elif data.n_items > 0 %}
        <p>{{ R.string.n_items_found(n_items=data.n_items) }}</p>
    {% endif %}

    {% if data.table_data.rows|length > 0 %}
        {% with data=data.paginator_data %}
            {% include "components/paginator.html" %}
        {% endwith %}
        {% if data.table_data.rows|length > 0 and data.sort_methods and data.sort_methods|length > 0 %}
            <div class="form-group sort-method">
                <label for="select-sort-method">{{ R.string.sort_method_label }}</label>
                <select id="select-sort-method" name="{{ data.sort_method_query_arg_name }}"
                        class="form-control sort-method">
                    {% for sort_method in data.sort_methods %}
                        <option value="{{ sort_method.value }}" {{ 'selected'|if(sort_method.selected) }}>{{ sort_method.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        <div class="table-responsive {{ 'without-bottom-paginator'|if(data.paginator_data.pages|length <= 1) }}">
            <table id="{{ data.table_data.id|if(data.table_data.id) }}" class="table table-hover super-table">
                <thead>
                <tr>
                    {% for col in data.table_data.cols %}
                        <th id="{{ col.id }}" class="{{ 'min-width action'|if(col.id==R.string.action_col_id) }}">
                            {% if col.title %}
                                {{ col.title }}
                                {% if col.tooltip %}
                                    {{ tooltip.info(col.tooltip) }}
                                {% endif %}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in data.table_data.rows %}
                    {% set row_idx = loop.index0 %}
                    <tr id="row-{{ row_idx }}">
                        {% for col in data.table_data.cols %}
                            {% set col_idx = loop.index0 %}
                            {% set item_data = row[col_idx] %}
                            <td id="col-{{ col.id }}-row-{{ row_idx }}">
                                {% if col.type == R.id.COL_TYPE_IMAGE %}
                                    <img src="{{ item_data }}">
                                {% elif col.type == R.id.COL_TYPE_TEXT %}
                                    {{ item_data }}
                                {% elif col.type == R.id.COL_TYPE_BOOL %}
                                    <div class="bool-container {{ 'true'|if(item_data, 'false') }}">
                                        <span class="glyphicon glyphicon-ok true" aria-hidden="true"></span>
                                        <span class="glyphicon glyphicon-remove false" aria-hidden="true"></span>
                                    </div>
                                {% elif col.type == R.id.COL_TYPE_ACTION %}
                                    {% if col.expandable %}

                                    {% else %}
                                        <div class="actions-container">
                                            {% for action in item_data %}
                                                {% if action.type == R.id.ACTION_TYPE_BUTTON %}
                                                    <button
                                                            id="{{ action.id|if(action.id, '') }}"
                                                            class="btn btn-default {{ action.classes }} type-button"
                                                            type="button"
                                                            {{ {
                                                            "data-row-idx": row_idx
                                                        }|xmlattr }}>
                                                        {{ action.text }}
                                                    </button>
                                                {% elif action.type == R.id.ACTION_TYPE_LINK_BUTTON %}
                                                    <a href="{{ action.href }}">
                                                        <button
                                                                id="{{ action.id|if(action.id, '') }}"
                                                                class="btn btn-default {{ action.classes }} type-link-button"
                                                                type="button"
                                                                {{ {
                                                                "data-row-idx": row_idx
                                                            }|xmlattr }}>
                                                            {{ action.text }}
                                                        </button>
                                                    </a>
                                                {% elif action.type == R.id.ACTION_TYPE_INT_WITH_BUTTON %}
                                                    <form
                                                            action="{{ action.url }}"
                                                            method="post"
                                                            enctype=multipart/form-data
                                                            class="input-group int-with-button {{ action.classes }}"
                                                            {{ {
                                                            "data-error-4xx-msg": action.error_4xx_msg,
                                                            "data-error-5xx-msg": action.error_5xx_msg,
                                                            "data-row-idx": row_idx
                                                        }|xmlattr }}>
                                                        {{ action.form.csrf_token }}
                                                        <input type="number"
                                                               name="{{ action.form.value.name }}"
                                                               class="form-control"
                                                               placeholder="{{ action.form.value.label.text }}">
                                                        <span class="input-group-btn">
                                                            <button
                                                                    class="btn btn-default"
                                                                    type="submit"
                                                                    name="{{ action.form.submit.name }}"
                                                                    {{ {
                                                                    "data-text": action.text,
                                                                    "data-doing-text": action.doing_text
                                                                }|xmlattr }}>
                                                                {{ action.text }}
                                                            </button>
                                                        </span>
                                                    </form>
                                                {% elif action.type == R.id.ACTION_TYPE_ACTIVATE_DISABLE_BUTTON %}
                                                    <div
                                                            class="action-type-activate-disable-button-container"
                                                            {{ {
                                                                "data-active-col-id": action.active_col_id,
                                                                "data-row-idx": row_idx,
                                                            }|xmlattr }}>
                                                        <button
                                                                id="to-activate-btn-{{ row_idx }}"
                                                                class="btn btn-default to-activate {{ 'hidden'|if(action.active) }} activate-disable"
                                                                type="button"
                                                                {{ {
                                                                "data-url": action.to_activate_url,
                                                                "data-error-msg": action.error_to_activate_msg,
                                                                "data-to-activate-text": R.string.to_activate,
                                                                "data-activating-text": R.string.activating,
                                                            }|xmlattr }}>
                                                            {{ action.to_activate_text }}
                                                        </button>
                                                        <button
                                                                id="disable-btn-{{ row_idx }}"
                                                                class="btn btn-default disable {{ 'hidden'|if(not action.active) }} activate-disable"
                                                                type="button"
                                                                {{ {
                                                                "data-url": action.disable_url,
                                                                "data-error-msg": action.error_disable_msg,
                                                                "data-disable-text": R.string.disable,
                                                                "data-disabling-text": R.string.disabling,
                                                            }|xmlattr }}>
                                                            {{ action.disable_text }}
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% with data=data.paginator_data %}
            {% include "components/paginator.html" %}
        {% endwith %}
    {% else %}
        <p>{{ R.string.no_items_found }}</p>
    {% endif %}
</div>