<div class="__components__ __tags_row__">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <table>
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='imgs/baby-1.png') }}">
                        </td>
                        <td>
                            <h2>Frete grátis</h2>
                            <p>para São José dos Campos para compras acima de R$ 10,00</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-4">
                <table>
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='imgs/baby-1.png') }}">
                        </td>
                        <td>
                            <h2>Frete grátis</h2>
                            <p>para São José dos Campos para compras acima de R$ 10,00</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-4">
                <table>
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='imgs/baby-1.png') }}">
                        </td>
                        <td>
                            <h2>Frete grátis</h2>
                            <p>para São José dos Campos para compras acima de R$ 10,00</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
