.__admin_products__.__index__ {
  $submit-btn-width: 170px;
  $text-input-width: 95px;
  $btn-width: $submit-btn-width+$text-input-width;

  .actions-container {
    button.type-link-button, button.type-button, button.activate-disable {
      width: $btn-width;
    }

    .int-with-button {
      button {
        width: $submit-btn-width;
      }

      input {
        width: $text-input-width;
      }
    }
  }
}